<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
	<style>
		.row-select {
			transform: scale(1.1);
			cursor: pointer;
		}
	</style>

</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>

							
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Sb Wise DBK Calculation</h3>
											<span>List of all exported materials</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/}">DBK Calculation</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">Edit</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>DBK Calculation</h5>
														<span>Edit Selected Data</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/}">

															</a>
														</div>
													</div>
													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">

														</div>





														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive"
															style="max-height: 520px; overflow:auto;">

															<table id="calculationTable"
																class="table table-hover table-sm table-bordered">

																<!-- ===================== HEADER ===================== -->
																<thead class="table-light sticky-top"
																	style="background-color:#fff; z-index:1020;">
																	<tr>
																		<th style="width:60px">Sr No.</th>
																		<th>Port Code</th>
																		<th>Shipping Bill No</th>
																		<th>Date</th>
																		<th>LEO Date</th>
																		<th>Description of Export product</th>
																		<th>QUANTITY</th>
																		<th>UNIT</th>
																		<th>DBK SNO.</th>
																		<th>FOB Value</th>
																		<th>PMV Value</th>
																		<th>Imp Quantity</th>
																		<th>Consumption for 1 Exp.Qty</th>
																		<th>Total Duty</th>
																		<th>Total CIF Value</th>
																		<th>DBK Amt</th>
																		<th>CIF Value(Calculated)</th>
																		<th>AIR Rate</th>
																		<th>Air Amount</th>
																		<th>SBR</th>
																		<th>4/5 of BRoD(Main Claim)</th>
																		<th>Diff BRoD - AIR</th>
																		<th>Value addition</th>
																		<th>Claim Ref No</th>
																		<th>Claim Year</th>
																	</tr>
																</thead>

																<!-- ===================== BODY ===================== -->
																<tbody>

																	<!-- No records -->
																	<tr
																		th:if="${calculationRows == null || #lists.isEmpty(calculationRows)}">
																		<td colspan="25" class="text-center text-muted">
																			No records found.
																		</td>
																	</tr>

																	<!-- ===================== PARENT ROW ===================== -->
																	<th:block th:each="row, stat : ${calculationRows}">

																		<tr th:attr="data-export-id=${row.exportId}">

																			<!-- Toggle + SL NO -->
																			<td class="text-center">
																				<button type="button"
																					class="btn btn-sm btn-link p-0"
																					th:data-export-id="${row.exportId}"
																					onclick="toggleConsumptionDetails(this)">
																					<i class="bi bi-caret-right"></i>
																				</button>
																				<span
																					th:text="${stat.index + 1}"></span>
																			</td>

																			<td data-col="portCode"
																				th:text="${row.portCode}"
																				contenteditable="true"></td>

																			<td data-col="sbNo"
																				th:text="${row.shippingBillNo}"
																				contenteditable="true"></td>

																			<td data-col="sbDate" th:text="${row.shippingBillDate != null ?
																			        #temporals.format(row.shippingBillDate,'dd-MM-yyyy') : ''}" contenteditable="true"></td>

																			<td data-col="leoDate" th:text="${row.leoDate != null ?
																			        #temporals.format(row.leoDate,'dd-MM-yyyy') : ''}" contenteditable="true"></td>

																			<td data-col="description"
																				th:text="${row.exportDescription}"
																				contenteditable="true"></td>

																			<td data-col="quantity" class="text-end"
																				th:text="${#numbers.formatDecimal(row.quantity,1,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="unit" th:text="${row.unit}"
																				contenteditable="true"></td>

																			<td data-col="dbkSno"
																				th:text="${row.dbkSno}"
																				contenteditable="true"></td>

																			<td data-col="fob" class="text-end"
																				th:text="${#numbers.formatDecimal(row.fobValue,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="pmv" class="text-end"
																				th:text="${#numbers.formatDecimal(row.pmvValue,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="impQty" class="text-end"
																				th:text="${#numbers.formatDecimal(row.importQuantity,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="consumption"
																				class="text-end parent-consumption"
																				th:text="${#numbers.formatDecimal(row.consumptionPerExportQty,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="totalDuty" class="text-end"
																				th:text="${#numbers.formatDecimal(row.totalDuty,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="totalCif" class="text-end"
																				th:text="${#numbers.formatDecimal(row.totalCifValue,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="dbkAmt" class="text-end"
																				contenteditable="true"></td>

																			<td data-col="cifValue" class="text-end"
																				contenteditable="true"></td>

																			<td data-col="airRate" class="text-end"
																				th:text="${#numbers.formatDecimal(row.airRate,4,'COMMA',4,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="airAmount" class="text-end"
																				th:text="${#numbers.formatDecimal(row.airAmount,2,'COMMA',2,'POINT')}"
																				contenteditable="true"></td>

																			<td data-col="sbr" class="text-end"
																				contenteditable="true"></td>

																			<td data-col="brodFourFifth"
																				class="text-end" contenteditable="true">
																			</td>

																			<td data-col="diffBrodAir" class="text-end"
																				contenteditable="true"></td>

																			<td data-col="valueAddition"
																				class="text-end" contenteditable="true">
																			</td>

																			<td data-col="claimRefNo"
																				th:text="${row.claimRefNo}"
																				contenteditable="true"></td>

																			<td data-col="claimYear"
																				th:text="${row.claimYear}"
																				contenteditable="true"></td>

																		</tr>

																		<!-- ===================== CHILD ROW ===================== -->
																		<tr class="child-row d-none"
																			th:id="'child-row-' + ${row.exportId}">
																			<td colspan="25" class="p-2">

																				<table
																					class="table table-sm table-bordered mb-0">
																					<thead
																						class="table-secondary sticky-top"
																						style="background-color:#fff;">
																						<tr>
																							<th>Sr</th>
																							<th>BOM Part No</th>
																							<th>DBK Part No</th>
																							<th>Consumption / Exp Qty
																							</th>
																							<th>BOE No</th>
																							<th>Import Qty</th>
																							<th>Assessable Value</th>
																							<th>CIF Value</th>
																							<th>BCD</th>
																							<th>SWS</th>
																							<th>Add Duty</th>
																							<th>Total Duty</th>
																							<th>DBK Amount</th>
																							<th>CIF Value</th>
																						</tr>
																					</thead>


																					<tbody
																						th:id="'child-body-' + ${row.exportId}">
																						<tr>
																							<td colspan="10"
																								class="text-muted text-center">
																								Click toggle to load
																								data
																							</td>
																						</tr>
																					</tbody>
																				</table>

																			</td>
																		</tr>

																	</th:block>

																</tbody>
															</table>

														</div>

													</div>


													<!-- Pagination controls -->


													<div class="text-center">

														<button type="button" id="saveBtn"
															class="btn btn-info waves-effect waves-light m-r-5 m-b-5"
															style="width: 150px;"> <i
																class="bi bi-file-earmark-excel"></i> Save
														</button>


													</div>




												</div>

											</div>
										</div>
										<!-- tab content end -->

									</div>
								</div>

							</div>


						</div>
					</div>
					<!--<div id="styleSelector">-->

					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		function num(v) {
			if (!v) return 0;
			return parseFloat(String(v).replace(/,/g, '').trim()) || 0;
		}

		function fmt(v, d = 2) {
			return num(v).toLocaleString('en-IN', {
				minimumFractionDigits: d,
				maximumFractionDigits: d
			});
		}
	</script>

	<script>
		function recalcChildAndParent(exportId) {

			const tbody = document.getElementById("child-body-" + exportId);
			const parentRow = document.querySelector(
				`tr[data-export-id="${exportId}"]`
			);

			// ✅ FIX: define ptds
			const ptds = parentRow.querySelectorAll("td");

			let sumImportQty = 0;
			let sumConsumption = 0;
			let sumTotalDuty = 0;
			let sumDbkAmt = 0;
			let sumImportCif = 0;
			let sumCalculatedCif = 0;

			tbody.querySelectorAll("tr").forEach(row => {

				const tds = row.querySelectorAll("td");
				if (tds.length < 14) return;

				const consumption = num(tds[3].innerText);
				const importQty = num(tds[5].innerText);
				const cifBase = num(tds[7].innerText);
				const bcd = num(tds[8].innerText);
				const sws = num(tds[9].innerText);
				const addDuty = num(tds[10].innerText);

				const totalDuty = bcd + sws + addDuty;
				tds[11].innerText = fmt(totalDuty);

				const dbkAmt = importQty > 0 ? (totalDuty / importQty) * consumption : 0;
				tds[12].innerText = fmt(dbkAmt);

				const cifCalc = importQty > 0 ? (cifBase / importQty) * consumption : 0;
				tds[13].innerText = fmt(cifCalc);

				sumImportQty += importQty;
				sumConsumption += consumption;
				sumTotalDuty += totalDuty;
				sumDbkAmt += dbkAmt;
				sumImportCif += cifBase;
				sumCalculatedCif += cifCalc;
			});

			// ✅ Parent update (now ptds exists)
			const fobValue = num(ptds[9].innerText);
			const airAmount = num(ptds[18].innerText);

			ptds[11].innerText = fmt(sumImportQty);
			ptds[12].innerText = fmt(sumConsumption);
			ptds[13].innerText = fmt(sumTotalDuty);
			ptds[14].innerText = fmt(sumImportCif);        // backend CIF
			ptds[15].innerText = fmt(sumDbkAmt);
			ptds[16].innerText = fmt(sumCalculatedCif);    // calculated CIF

			const sbr = sumDbkAmt - airAmount;
			ptds[19].innerText = fmt(sbr);

			const brod45 = sumDbkAmt * 0.8;
			ptds[20].innerText = fmt(brod45);
			ptds[21].innerText = fmt(brod45 - airAmount);

			const valAdd = sumCalculatedCif > 0
				? ((fobValue - sumCalculatedCif) / sumCalculatedCif) * 100
				: 0;

			ptds[22].innerText = fmt(valAdd, 2);
		}



	</script>



	<script>
		function toggleConsumptionDetails(button) {

			const exportId = button.dataset.exportId;
			const childRow = document.getElementById("child-row-" + exportId);
			const icon = button.querySelector("i");
			const tbody = document.getElementById("child-body-" + exportId);

			// 🔁 CLOSE
			if (!childRow.classList.contains("d-none")) {
				childRow.classList.add("d-none");
				icon.classList.remove("bi-caret-down");
				icon.classList.add("bi-caret-right");
				return;
			}

			// 🔽 OPEN
			childRow.classList.remove("d-none");
			icon.classList.remove("bi-caret-right");
			icon.classList.add("bi-caret-down");

			// ✅ Already loaded → just RECALC
			if (tbody.dataset.loaded === "true") {
				recalcChildAndParent(exportId); // 🔥 SAFETY CALL
				return;
			}

			// ⬇️ FIRST LOAD
			fetch(`/dbk/export/${exportId}/consumption-details`)
				.then(r => r.json())
				.then(data => {

					tbody.innerHTML = "";

					if (!data || data.length === 0) {
						tbody.innerHTML = `
	                    <tr>
	                        <td colspan="14" class="text-center text-muted">
	                            No data found
	                        </td>
	                    </tr>`;
						return;
					}

					data.forEach((r, index) => {
						tbody.insertAdjacentHTML("beforeend", `
	                    <tr>
	                        <td class="text-center">${index + 1}</td>
	                        <td>${r.bomPartNo ?? ""}</td>
	                        <td>${r.dbkPartNo ?? ""}</td>

	                        <td class="text-end consumption-cell"
	                            contenteditable="true"
	                            oninput="recalcChildAndParent(${exportId})">
	                            ${r.consumptionForOneExportQty ?? 0}
	                        </td>

	                        <td>${r.boeNo ?? ""}</td>
	                        <td class="text-end import-qty">${r.importQuantity ?? 0}</td>
	                        <td class="text-end assessable">${r.assessableValue ?? 0}</td>
	                        <td class="text-end cif-base">${r.cifValue ?? 0}</td>

	                        <td class="text-end bcd">${r.bcd ?? 0}</td>
	                        <td class="text-end sws">${r.sws ?? 0}</td>
	                        <td class="text-end add-duty">${r.addDuty ?? 0}</td>

	                        <td class="text-end total-duty">0</td>
	                        <td class="text-end dbk-amt">0</td>
	                        <td class="text-end cif-calc">0</td>
	                    </tr>
	                `);
					});

					tbody.dataset.loaded = "true";

					// 🔥🔥 IMPORTANT SAFETY RECALC 🔥🔥
					recalcChildAndParent(exportId);
				})
				.catch(err => {
					console.error(err);
					tbody.innerHTML = `
	                <tr>
	                    <td colspan="14" class="text-danger text-center">
	                        Error loading data
	                    </td>
	                </tr>`;
				});
		}
	</script>



	<script>
		document.addEventListener('DOMContentLoaded', function () {

			// helper: parse number from cell text (handles commas). returns BigDecimal-like JS Number
			function parseNum(str) {
				if (str === null || str === undefined) return 0;
				const s = String(str).trim().replace(/,/g, '');
				if (s === '' || s === '-') return 0;
				const n = Number(s);
				return isNaN(n) ? 0 : n;
			}

			// helper: format number for display (2 decimals default, allow customizing)
			function fmt(n) {
				if (n === null || n === undefined) n = 0;
				return Number(n).toLocaleString(undefined, {
					minimumFractionDigits: 2,
					maximumFractionDigits: 2
				});
			}


			// compute per row using your formulas
			function recomputeRow(tr) {
				// find cells by data-col
				const get = (name) => tr.querySelector('[data-col="' + name + '"]');

				const cellJ = get('fob');     // J
				const cellL = get('impQty');  // L
				const cellM = get('consumption'); // M
				const cellN = get('totalDuty');   // N
				const cellO = get('totalCif');    // O
				const cellP = get('dbkAmt');      // P (computed)
				const cellQ = get('cifValue');    // Q (computed)
				const cellS = get('airAmount');   // S
				const cellT = get('sbr');         // T (computed per requested formula)
				const cellU = get('brodFourFifth');
				const cellV = get('diffBrodAir');
				const cellW = get('valueAddition');

				// read numeric values (raw)
				const J = parseNum(cellJ.textContent || cellJ.dataset.value);
				const L = parseNum(cellL.textContent || cellL.dataset.value);
				const M = parseNum(cellM.textContent || cellM.dataset.value);
				const N = parseNum(cellN.textContent || cellN.dataset.value);
				const O = parseNum(cellO.textContent || cellO.dataset.value);
				const S = parseNum(cellS.textContent || cellS.dataset.value);

				// compute P = (N / L) * M
				let Pval = 0;
				if (L !== 0) Pval = (N / L) * M;

				// compute Q = (O / L) * M
				let Qval = 0;
				if (L !== 0) Qval = (O / L) * M;

				// T = P - S
				let Tval = Pval - S;

				// U = P * 4/5
				let Uval = Pval * 0.8;

				// V = U - S
				let Vval = Uval - S;

				// W = (J - Q) / Q * 100  (guard Q != 0)
				let Wval = 0;
				if (Qval !== 0) Wval = ((J - Qval) / Qval) * 100;

				// write back (update both data-value and displayed text formatted)
				const write = (cell, value, decimals = 2) => {
					if (!cell) return;
					cell.dataset.value = String(value ?? 0);
					cell.textContent = fmt(value ?? 0, decimals);
				};

				write(cellP, Pval);
				write(cellQ, Qval);
				write(cellT, Tval);
				write(cellU, Uval);
				write(cellV, Vval);
				write(cellW, Wval);

			}

			// initialize: set data-value from the current text of all rows
			function initRowData(tr) {
				tr.querySelectorAll('td[data-col]').forEach(td => {
					// store raw numeric if td looks numeric; else keep text also in data-value
					const txt = td.textContent.trim();
					const num = parseNum(txt);
					// If the original text has non-digit characters (letters) we still store text and number 0
					td.dataset.value = String(num);
					// keep formatted text as-is (don't change)
				});

				// compute derived columns for initial display
				recomputeRow(tr);
			}

			// wire events: when any contenteditable cell changes, recompute the row
			function wireRowListeners(tr) {
				tr.querySelectorAll('td[data-col]').forEach(td => {
					// ignore SL NO cell as it has no data-col; all td with data-col are editable here
					// listen to 'input' (for contentEditable) and 'blur' (user finished)
					td.addEventListener('input', function () {
						// update dataset value for the edited cell
						const v = this.textContent.trim();
						this.dataset.value = String(parseNum(v));
						recomputeRow(tr);
					});

					// optional: format on blur
					td.addEventListener('blur', function () {
						// if this is a numeric column, reformat display to 2 decimals / 6 decimals for consumption
						const col = this.dataset.col;
						const val = parseNum(this.dataset.value);
						if (col === 'consumption') {
							this.textContent = fmt(val, 6);
						} else if (['quantity'].includes(col)) {
							this.textContent = fmt(val, 2);
						} else {
							this.textContent = fmt(val, 2);
						}
					});
				});
			}

			// apply to all rows
			const rows = Array.from(document.querySelectorAll('#calculationTable tbody tr'))
				.filter(tr => tr.querySelector('[data-col]')); // skip "no records" row
			rows.forEach(tr => {initRowData(tr); wireRowListeners(tr);});

			// convenience: recalc all
			window.recomputeAllCalculationRows = function () {
				document.querySelectorAll('#calculationTable tbody tr').forEach(tr => {
					if (tr.querySelector('[data-col]')) recomputeRow(tr);
				});
			};

		});
	</script>




	<script>
		(() => {
			const parseNum = s => {
				if (s === null || s === undefined) return 0;
				const cleaned = ('' + s).replace(/,/g, '').trim();
				if (cleaned === '' || cleaned === '-') return 0;
				const n = Number(cleaned);
				return isNaN(n) ? 0 : n;
			};

			const toIsoDate = txt => {
				if (!txt) return null;
				const t = txt.trim();
				if (/^\d{4}-\d{2}-\d{2}$/.test(t)) return t;
				const m = t.match(/^(\d{2})[-\/](\d{2})[-\/](\d{4})$/);
				if (m) return `${m[3]}-${m[2]}-${m[1]}`;
				const d = new Date(t);
				if (!isNaN(d.valueOf())) {
					const yyyy = d.getFullYear();
					const mm = String(d.getMonth() + 1).padStart(2, '0');
					const dd = String(d.getDate()).padStart(2, '0');
					return `${yyyy}-${mm}-${dd}`;
				}
				return t;
			};

			const readText = (row, col) => {
				const el = row.querySelector(`td[data-col="${col}"]`);
				return el ? (el.textContent || '').trim() : '';
			};
			const readNum = (row, col) => parseNum(readText(row, col));

			const buildDto = row => ({
				exportId: row.getAttribute('data-export-id') ? Number(row.getAttribute('data-export-id')) : null,
				portCode: readText(row, 'portCode'),
				shippingBillNo: readText(row, 'sbNo'),
				shippingBillDate: toIsoDate(readText(row, 'sbDate')),
				leoDate: toIsoDate(readText(row, 'leoDate')),
				exportDescription: readText(row, 'description'),
				quantity: readNum(row, 'quantity'),
				unit: readText(row, 'unit'),
				dbkSno: readText(row, 'dbkSno'),
				fobValue: readNum(row, 'fob'),
				pmvValue: readNum(row, 'pmv'),
				importQuantity: readNum(row, 'impQty'),
				consumptionPerExportQty: readNum(row, 'consumption'),
				totalDuty: readNum(row, 'totalDuty'),
				totalCifValue: readNum(row, 'totalCif'),
				dbkAmount: readNum(row, 'dbkAmt'),
				cifValue: readNum(row, 'cifValue'),
				airRate: readNum(row, 'airRate'),
				airAmount: readNum(row, 'airAmount'),
				sbr: readNum(row, 'sbr'),
				fourFifthOfBrodMainClaim: readNum(row, 'brodFourFifth'),
				diffBrodAndAir: readNum(row, 'diffBrodAir'),
				valueAddition: readNum(row, 'valueAddition'),
				claimRefNo: readText(row, 'claimRefNo'),
				claimYear: readText(row, 'claimYear')
			});

			const collectAll = () => {
				const table = document.getElementById('calculationTable');
				if (!table || !table.tBodies || !table.tBodies[0]) return [];
				const rows = Array.from(table.tBodies[0].rows)
					.filter(r => r.querySelector('[data-col]')); // skip "no data" row
				return rows.map(buildDto);
			};

			// CSRF (Thymeleaf default meta tags)
			const getCsrf = () => {
				const tokenMeta = document.querySelector('meta[name="_csrf"]');
				const headerMeta = document.querySelector('meta[name="_csrf_header"]');
				if (tokenMeta && headerMeta) return {header: headerMeta.getAttribute('content'), token: tokenMeta.getAttribute('content')};
				return null;
			};

			const saveBtn = document.getElementById('saveBtn');
			if (!saveBtn) {
				console.warn('saveBtn not found (id="saveBtn"). Add it to call the save action.');
				return;
			}

			saveBtn.addEventListener('click', async (ev) => {
				ev.preventDefault();
				const payload = collectAll();
				if (!payload.length) {alert('No rows to save'); return;}
				if (!confirm('Save ' + payload.length + ' row(s)?')) return;

				const csrf = getCsrf();
				const headers = {'Content-Type': 'application/json'};
				if (csrf && csrf.header) headers[csrf.header] = csrf.token;

				try {
					const resp = await fetch('/dbkcalculation/save', {
						method: 'POST',
						headers,
						body: JSON.stringify(payload)
					});

					if (!resp.ok) {
						const text = await resp.text();
						console.error('Save failed', resp.status, text);
						alert('Save failed: ' + resp.status + ' — check console.');
						return;
					}

					// assume JSON { savedCount: N } or similar
					const data = await resp.json().catch(() => null);
					alert('Saved successfully' + (data && data.savedCount ? ': ' + data.savedCount + ' rows' : '.'));
					window.location.href = '/dbkcalculation/list/claimwise';
					// optional: location.reload();
				} catch (err) {
					console.error('Save error', err);
					alert('Unexpected error while saving. See console.');
				}
			});
		})();
	</script>







	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>


</body>

</html>