<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>






									</ul>
								</li>
								<li class="pcoded-hasmenu">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>

							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Export Data Download</h3>
											<span>List of all exported materials</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/}">Export</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">Download</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>Export Data Download</h5>
														<span>Select required export rows</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/exportdata/excel/download}">
																<i class="icofont icofont-refresh"></i>
															</a>
														</div>
													</div>
													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">
															<form th:action="@{/exportdata/excel/download}" method="get"
																class="d-flex align-items-center gap-2 m-3 flex-nowrap"
																style="max-width:460px;">
																<select name="filterField" id="filterField"
																	class="form-control form-control-sm mr-2"
																	style="width:150px; min-width:120px;" required
																	onchange="updateInputType();">
																	<option th:selected="${filterField == null}"
																		value="" disabled selected>Filter By</option>

																	<option th:selected="${filterField == 'sbNo'}"
																		value="sbNo">SB No</option>
																	<option th:selected="${filterField == 'sbDateFrom'}"
																		value="sbDateFrom">From Date</option>
																	<option th:selected="${filterField == 'sbDateTo'}"
																		value="sbDateTo">To Date</option>
																	<option th:selected="${filterField == 'claimYear'}"
																		value="claimYear">Claim Year</option>
																	<option
																		th:selected="${filterField == 'customerName'}"
																		value="customerName">Customer</option>
																	<option th:selected="${filterField == 'portCode'}"
																		value="portCode">Port Code</option>
																	<option th:selected="${filterField == 'claimRefNo'}"
																		value="claimRefNo">Claim Ref No</option>
																	<option th:selected="${filterField == 'modelNo'}"
																		value="modelNo">Model No</option>
																	<option th:selected="${filterField == 'dbkSno'}"
																		value="dbkSno">DBK S.No</option>
																	<option
																		th:selected="${filterField == 'sbUtilization'}"
																		value="sbUtilization">SB Utilization</option>
																</select>

																<input type="text" name="filterValue" id="filterValue"
																	th:value="${filterValue}" placeholder="Value"
																	class="form-control form-control-sm mr-2"
																	style="width:180px; min-width:140px;" required />

																<button type="submit"
																	class="btn btn-sm btn-primary waves-effect waves-light f-right"
																	title="Filter" style="height:32px;">
																	<i class="icofont icofont-search"
																		style="font-size: 1.2rem;"></i>
																</button>
															</form>
														</div>





														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<!-- Bulk actions toolbar (placed above the table, next to filter form) -->
														<!-- Thymeleaf HTML: combined table + select-all + centered Download Excel button -->
														<!-- Place this in your template where the table should appear -->
														<div class="card-block table-border-style">



															<!-- Table area -->
															<div class="table-responsive"
																style="max-height: 520px; overflow:auto;">
																<table id="exportTable"
																	class="table table-hover table-sm table-bordered">
																	<thead class="table-light sticky-top"
																		style="background-color: #fff; z-index: 1020;">
																		<tr>
																			<!-- Select-all checkbox column -->
																			<th style="width:32px; text-align:center;">
																				<input type="checkbox" id="selectAll"
																					title="Select / Deselect all" />
																			</th>

																			<th>Sr No</th>
																			<th>SB No</th>
																			<th>SB Date</th>
																			<th>Month</th>
																			<th>YEAR</th>
																			<th>Client Name</th>
																			<th>INVOICE No</th>
																			<th>Invoice Date</th>
																			<th>Claim Ref No</th>
																			<th>Claim Year</th>
																			<th>Port Code</th>
																			<th>LEO Date</th>
																			<th>HS CD</th>
																			<th>CUSTOMER NAME</th>
																			<th>DESCRIPTION</th>
																			<th>MODEL no</th>
																			<th>PRODUCT TYPE</th>
																			<th>Quantity</th>
																			<th>Unit</th>
																			<th>Invoice Value (FCC)</th>
																			<th>Currency</th>
																			<th>FOB INR</th>
																			<th>PMV per Qty</th>
																			<th>PMV Actual</th>
																			<th>Scheme Description</th>
																			<th>DBK SNO</th>
																			<th>DBK Applicability</th>
																			<th>Rate</th>
																			<th>AIR Given in SB</th>
																			<th>AIR Amount</th>
																			<th>Difference</th>
																			<th>Total DBK</th>
																			<th>SBR</th>
																			<th>ARO No</th>
																			<th>ARO Date</th>
																			<th>ARO File No</th>
																			<th>ARO File Date</th>
																			<th>BRC No</th>
																			<th>Net Realised Value</th>
																			<th>Currency</th>
																			<th>SB Utilization</th>

																		</tr>
																	</thead>

																	<tbody>
																		<tr th:if="${exportDataPage.content.isEmpty()}">
																			<td colspan="46"
																				class="text-center text-muted">No
																				records found.</td>
																		</tr>

																		<tr
																			th:each="row, stat : ${exportDataPage.content}">
																			<!-- Row checkbox (inside tbody) -->
																			<td style="text-align:center;">
																				<!-- ensure this input is inside the table body -->
																				<input type="checkbox"
																					class="row-checkbox"
																					th:value="${row.exportId}" />
																			</td>

																			<td
																				th:text="${stat.index + 1 + exportDataPage.number * exportDataPage.size}">
																				1</td>
																			<td th:text="${row.sbNo}">SB No</td>
																			<td
																				th:text="${#temporals.format(row.sbDate, 'dd-MM-yyyy')}">
																				SB Date</td>
																			<td
																				th:text="${row.sbDate != null ? #temporals.format(row.sbDate, 'MMM') + '-' + #temporals.format(row.sbDate, 'yy') : ''}">
																				Month</td>
																			<td
																				th:text="${row.sbDate != null ? #temporals.format(row.sbDate, 'yyyy') : ''}">
																				Year</td>

																			<td th:text="${row.clientName}">Client Name
																			</td>
																			<td th:text="${row.invoiceNo}">Invoice No
																			</td>
																			<td
																				th:text="${#temporals.format(row.invoiceDate, 'dd-MM-yyyy')}">
																				Invoice Date</td>
																			<td th:text="${row.claimRefNo}">Claim Ref No
																			</td>
																			<td th:text="${row.claimYear}">Claim Year
																			</td>
																			<td th:text="${row.portCode}">Port Code</td>
																			<td
																				th:text="${#temporals.format(row.leoDate, 'dd-MM-yyyy')}">
																				LEO Date</td>
																			<td th:text="${row.hsCode}">HS Code</td>
																			<td th:text="${row.customerName}">Customer
																				Name</td>
																			<td th:text="${row.modelDescription}">
																				Description</td>
																			<td th:text="${row.modelNo}">Model No</td>
																			<td th:text="${row.productType}">Product
																				Type</td>
																			<td th:text="${#numbers.formatDecimal(row.quantity, 1, 'COMMA', 2, 'POINT')}"
																				class="text-end">Qty</td>
																			<td th:text="${row.unit}">Unit</td>
																			<td th:text="${#numbers.formatDecimal(row.invoiceValueFcc, 0, 'COMMA', 2, 'POINT')}"
																				class="text-end">Invoice Value</td>
																			<td th:text="${row.currencyCode}">Currency
																			</td>
																			<td th:text="${#numbers.formatDecimal(row.fobInr, 0, 'COMMA', 2, 'POINT')}"
																				class="text-end">FOB INR</td>
																			<td th:text="${#numbers.formatDecimal(row.pmvPerQty, 0, 'COMMA', 2, 'POINT')}"
																				class="text-end">PMV per Qty</td>
																			<td th:text="${#numbers.formatDecimal(row.pmvActual, 0, 'COMMA', 2, 'POINT')}"
																				class="text-end">PMV Actual</td>
																			<td th:text="${row.schemeDescription}">
																				Scheme Desc</td>
																			<td th:text="${row.dbkSno}">DBK SNO</td>
																			<td th:text="${row.dbkApplicability}">DBK
																				Applicability</td>
																			<td th:text="${#numbers.formatDecimal(row.rate * 100, 1, 'COMMA', 4, 'POINT')} + '%'"
																				class="text-end">Rate</td>

																			<td th:text="${#numbers.formatDecimal(row.airGivenInSb,0,'COMMA',3,'POINT')}"
																				class="text-end">AIR Given in SB</td>
																			<td th:text="${#numbers.formatDecimal(row.airAmount,0,'COMMA',3,'POINT')}"
																				class="text-end">AIR Amount</td>
																			<td th:text="${#numbers.formatDecimal(row.difference,1,'COMMA',12,'POINT')}"
																				class="text-end">Difference</td>
																			<td th:text="${#numbers.formatDecimal(row.totalDbk,0,'COMMA',6,'POINT')}"
																				class="text-end">Total DBK</td>
																			<td th:text="${#numbers.formatDecimal(row.sbr,0,'COMMA',6,'POINT')}"
																				class="text-end">SBR</td>
																			<td th:text="${row.aroNo}">ARO No</td>
																			<td
																				th:text="${#temporals.format(row.aroDate, 'dd-MM-yyyy')}">
																				ARO Date</td>
																			<td th:text="${row.aroFileNo}">ARO File No
																			</td>
																			<td
																				th:text="${#temporals.format(row.aroFileDate, 'dd-MM-yyyy')}">
																				ARO File Date</td>
																			<td th:text="${row.brcNo}">BRC No</td>
																			<td th:text="${#numbers.formatDecimal(row.netRealisedValue,0,'COMMA',6,'POINT')}"
																				class="text-end">Net Realised Value</td>
																			<td th:text="${row.netRealisedCurrency}">
																				Currency</td>
																			<td th:text="${row.sbUtilization}">SB
																				Utilization</td>


																		</tr>
																	</tbody>
																</table>
															</div>

															<!-- Centered Download Excel Button -->
															<div class="d-flex justify-content-center mt-3">
																<form id="bulkActionForm"
																	th:action="@{/exportdata/downloadExcel}"
																	method="post"
																	onsubmit="return submitSelectedIds();">
																	<!-- CSRF token if Spring Security is enabled -->

																	<input type="hidden" name="selectedIds"
																		id="selectedIdsInput" value="" />
																	<button id="downloadSelectedBtn" type="submit"
																		class="btn btn-primary btn-sm px-4" disabled>
																		Download Excel
																	</button>
																</form>
															</div>

															<!-- Selected count text -->
															<div class="text-center text-muted mt-1" id="selectionInfo"
																style="font-size:0.9rem;">
																0 selected
															</div>

															<!-- Pagination controls (unchanged) -->
															<nav aria-label="Page navigation" class="mt-3 ml-3">
																<ul class="pagination justify-content-center">
																	<li class="page-item"
																		th:classappend="${exportDataPage.first} ? 'disabled'">
																		<a class="page-link" th:href="@{/exportdata/excel/download(
																												          page=${exportDataPage.number - 1},
																												          size=${exportDataPage.size},
																												          filterField=${filterField},
																												          filterValue=${filterValue})}" tabindex="-1">Previous</a>
																	</li>

																	<li class="page-item"
																		th:each="pageNum : ${#numbers.sequence(0, exportDataPage.totalPages - 1)}"
																		th:classappend="${pageNum == exportDataPage.number} ? 'active'">
																		<a class="page-link" th:href="@{/exportdata/excel/download(
																												                               page=${pageNum},
																												                               size=${exportDataPage.size},
																												                               filterField=${filterField},
																												                               filterValue=${filterValue})}" th:text="${pageNum + 1}">1</a>
																		<span class="sr-only"
																			th:if="${pageNum == exportDataPage.number}">(current)</span>
																	</li>

																	<li class="page-item"
																		th:classappend="${exportDataPage.last} ? 'disabled'">
																		<a class="page-link" th:href="@{/exportdata/excel/download(
																												                      page=${exportDataPage.number + 1},
																												                      size=${exportDataPage.size},
																												                      filterField=${filterField},
																												                      filterValue=${filterValue})}">Next</a>
																	</li>
																</ul>
															</nav>
														</div>

														<!-- JavaScript to wire select-all + Download button -->
														<script>
															(function () {
																const selectAll = document.getElementById('selectAll');
																const downloadBtn = document.getElementById('downloadSelectedBtn');
																const selectionInfo = document.getElementById('selectionInfo');

																function rowCheckboxes() {
																	return Array.from(document.querySelectorAll('.row-checkbox'));
																}

																function updateHeaderState() {
																	const boxes = rowCheckboxes();
																	if (boxes.length === 0) {
																		if (selectAll) {selectAll.checked = false; selectAll.indeterminate = false;}
																		if (downloadBtn) downloadBtn.disabled = true;
																		selectionInfo.textContent = '0 selected';
																		return;
																	}
																	const checkedCount = boxes.filter(b => b.checked).length;
																	if (selectAll) {
																		selectAll.checked = checkedCount === boxes.length;
																		selectAll.indeterminate = checkedCount > 0 && checkedCount < boxes.length;
																	}
																	if (downloadBtn) downloadBtn.disabled = checkedCount === 0;
																	selectionInfo.textContent = checkedCount + ' selected';
																}

																// When header checkbox toggles, set all row checkboxes
																if (selectAll) {
																	selectAll.addEventListener('change', function (e) {
																		const checked = e.target.checked;
																		rowCheckboxes().forEach(cb => cb.checked = checked);
																		updateHeaderState();
																	});
																}

																// When any row checkbox toggles, update header state
																document.addEventListener('change', function (e) {
																	if (e.target && e.target.classList && e.target.classList.contains('row-checkbox')) {
																		updateHeaderState();
																	}
																});

																// initialize on page load
																document.addEventListener('DOMContentLoaded', function () {
																	updateHeaderState();
																});

																// prepare selectedIds hidden input before form submit
																window.submitSelectedIds = function () {
																	const selected = rowCheckboxes().filter(b => b.checked).map(b => b.value);
																	if (selected.length === 0) {
																		alert('No rows selected.');
																		return false;
																	}
																	// join as comma-separated — backend parses accordingly
																	document.getElementById('selectedIdsInput').value = selected.join(',');
																	return true; // submit form
																};
															})();
														</script>





													</div>

												</div>
											</div>
											<!-- tab content end -->

										</div>
									</div>

								</div>


							</div>
						</div>
						<!--<div id="styleSelector">-->

						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		function updateInputType() {
			var field = document.getElementById('filterField').value;
			var input = document.getElementById('filterValue');
			if (field === 'sbDateFrom' || field === 'sbDateTo') {
				input.type = 'date';
				input.placeholder = '';
			} else {
				input.type = 'text';
				input.placeholder = 'Value';
			}
		}
		// Optionally, call on page load if preselected
		document.addEventListener("DOMContentLoaded", function () {
			updateInputType();
		});
	</script>









	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>


</body>

</html>