<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 1</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>




									</ul>
								</li>
								<li class="pcoded-hasmenu">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>

							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>SB Wise Qty Consumption Data</h3>
											<span>List of all Qty Consumption</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/}">SbWiseQtyConsumption</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">List</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->
										<div class="">

											<button type="button" onclick="window.history.back()"
												class="btn btn-primary m-r-10 m-b-5">
												<i class="icofont icofont-reply"></i> Back
											</button>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>Qty Consumption List</h5>
														<span>List of all SB Wise Qty Consumption</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/sb-consumption/groups}">
																<i class="icofont icofont-refresh"></i>
															</a>
														</div>
													</div>
													<div class="card-block table-border-style">






														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive mt-3">
															<table
																class="table table-bordered table-hover table-striped table-sm align-middle text-center">

																<thead class="table-dark sticky-top"
																	style="z-index: 5;">
																	<tr>
																		<th class="text-center" style="width: 8%;">Sr No
																		</th>
																		<th class="text-center" style="width: 20%;">
																			Claim Ref No</th>
																		<th class="text-center" style="width: 15%;">
																			Claim Year</th>
																		<th class="text-center" style="width: 25%;">
																			Created On</th>
																		<th class="text-center" style="width: 20%;">
																			Total Used Qty</th>
																		<th class="text-center" style="width: 10%;">
																			Action</th>

																	</tr>
																</thead>

																<tbody>

																	<!-- Empty case -->
																	<tr th:if="${#lists.isEmpty(groups)}">
																		<td colspan="6"
																			class="text-center text-muted py-3">
																			No records found.
																		</td>
																	</tr>

																	<!-- Data rows -->
																	<tr th:each="g, iter : ${groups}">
																		<!-- Sr No -->
																		<td th:text="${iter.index + 1}">1</td>

																		<!-- Claim Ref No -->
																		<td th:text="${g.claimRefNo}">CLAIM_REF</td>

																		<!-- Claim Year -->
																		<td th:text="${g.claimYear}">YEAR</td>

																		<!-- Created At -->
																		<td
																			th:text="${#temporals.format(g.createdAt, 'dd-MM-yyyy HH:mm')}">
																			DATE</td>

																		<!-- Total Qty -->
																		<td
																			th:text="${#numbers.formatDecimal(g.usedQty, 0, 'COMMA', 2, 'POINT')}">
																			0.00
																		</td>

																		<!-- Arrow Button -->
																		<td>
																			<button
																				class="btn btn-primary view-sb-details"
																				style="padding: 4px 10px;"
																				th:attr="data-claim-ref=${g.claimRefNo}, data-claim-year=${g.claimYear}">
																				<i class="icofont icofont-arrow-down"
																					style="font-size: 22px;"></i>
																			</button>
																		</td>


																	</tr>

																</tbody>
															</table>
														</div>






														<!-- Pagination controls -->





													</div>

												</div>
											</div>
											<!-- tab content end -->

										</div>
										<!-- Scrollable Pivot Table Container -->
										<div class="row" id="pivotRow" style="display:none;">
											<div class="col-xs-12 col-sm-12 col-lg-12">

												<div class="card">
													<div id="sbPivotContainer" class="mt-4" style="
										                max-height: 500px;
										                overflow-x: auto;
										                overflow-y: auto;
										                border: 1px solid #ccc;
										                padding: 10px;
										            ">
													</div>
												</div>

											</div>
										</div>


									</div>

								</div>


							</div>
						</div>
						<!--<div id="styleSelector">-->

						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', () => {

			const DETAIL_ENDPOINT = '/sb-consumption/detail'; // <-- change if needed
			let lastPivotRaw = null; // optional: store last data if you later want a separate "Export" button

			// ---------- Helpers ----------
			function safeTrim(s) {return s == null ? '' : String(s).trim();}

			function parseUsedQtyToNumber(val) {
				if (val === null || val === undefined || val === '') return 0;
				const cleaned = String(val).replace(/,/g, '').trim();
				const n = parseFloat(cleaned);
				return Number.isFinite(n) ? n : 0;
			}

			// Build groups & SB/model pairs (your Excel logic)
			function buildGroupMapAndPairs(raw, {sortPairs = false} = {}) {
				const pairKeyToPair = new Map();

				raw.forEach(item => {
					const sb = safeTrim(item.sbNo);
					const model = safeTrim(item.exportModelNo);
					const key = sb + '|' + model;
					if (!pairKeyToPair.has(key)) pairKeyToPair.set(key, {sb, model});
				});

				let pairList = Array.from(pairKeyToPair.values());

				if (sortPairs) {
					pairList.sort((a, b) => a.sb.localeCompare(b.sb, undefined, {numeric: true}));
				}

				const pairIndexMap = new Map();
				pairList.forEach((p, i) => pairIndexMap.set(p.sb + '|' + p.model, i));

				const groupMap = new Map();

				raw.forEach(item => {
					const imp = safeTrim(item.dbkPartNo);
					const boe = safeTrim(item.boeNo);
					const groupKey = boe + '|' + imp;

					if (!groupMap.has(groupKey)) {
						groupMap.set(groupKey, {
							first: {
								claimRefNo: safeTrim(item.claimRefNo),
								claimYear: safeTrim(item.claimYear),
								impPartNo: imp,
								boeNo: boe
							},
							sums: new Array(pairList.length).fill(0)
						});
					}

					const entry = groupMap.get(groupKey);
					const used = parseUsedQtyToNumber(item.usedQty);

					const pairKey = safeTrim(item.sbNo) + '|' + safeTrim(item.exportModelNo);
					const pIdx = pairIndexMap.get(pairKey);

					if (typeof pIdx === 'number') {
						entry.sums[pIdx] = (entry.sums[pIdx] || 0) + used;
					}
				});

				return {pairList, groupMap};
			}

			// ---------- Render Pivot Table ----------
			function renderPivotTable(raw) {
				const container = document.getElementById('sbPivotContainer');
				container.innerHTML = '';

				if (!Array.isArray(raw) || raw.length === 0) {
					container.innerHTML = '<div class="alert alert-info">No detail data found.</div>';
					return;
				}

				const {pairList, groupMap} = buildGroupMapAndPairs(raw);

				// Create table
				const table = document.createElement('table');
				table.className = 'table table-bordered table-hover table-striped table-sm align-middle text-center';

				const thead = document.createElement('thead');
				const tbody = document.createElement('tbody');

				// ================================
				// HEADER ROW 1
				// ================================
				const headerRow1 = document.createElement('tr');
				['Claim Ref No', 'Claim Year', 'IMP Part No', 'BOE No'].forEach(text => {
					const th = document.createElement('th');
					th.className = 'text-center';
					th.textContent = text;
					headerRow1.appendChild(th);
				});

				// SB no Columns
				pairList.forEach(p => {
					const th = document.createElement('th');
					th.className = 'text-center';
					th.textContent = p.sb;
					headerRow1.appendChild(th);
				});

				// Row Total
				const thRowTotal = document.createElement('th');
				thRowTotal.className = 'text-center';
				thRowTotal.textContent = 'Row Total';
				headerRow1.appendChild(thRowTotal);

				thead.appendChild(headerRow1);

				// ================================
				// HEADER ROW 2 — Export Models
				// ================================
				const headerRow2 = document.createElement('tr');
				for (let i = 0; i < 4; i++) {
					const th = document.createElement('th');
					headerRow2.appendChild(th);
				}

				pairList.forEach(p => {
					const th = document.createElement('th');
					th.className = 'text-center';
					th.textContent = p.model || '';
					headerRow2.appendChild(th);
				});

				const thBlank = document.createElement('th');
				headerRow2.appendChild(thBlank);

				thead.appendChild(headerRow2);

				// ================================
				// BODY ROWS
				// ================================
				const pairTotals = new Array(pairList.length).fill(0);
				let grandTotal = 0;

				for (const [, entry] of groupMap.entries()) {
					const tr = document.createElement('tr');

					// Fixed columns
					const fixed = [
						entry.first.claimRefNo,
						entry.first.claimYear,
						entry.first.impPartNo,
						entry.first.boeNo
					];
					fixed.forEach(v => {
						const td = document.createElement('td');
						td.className = 'text-center';
						td.textContent = v || '';
						tr.appendChild(td);
					});

					// SB-wise values
					let rowSum = 0;
					for (let i = 0; i < pairList.length; i++) {
						const n = Number(entry.sums[i] || 0);

						rowSum += n;
						pairTotals[i] += n;

						const td = document.createElement('td');
						td.className = 'text-center';
						td.textContent = n;  // ALWAYS show 0 instead of blank
						tr.appendChild(td);
					}

					// Row total
					const tdTotal = document.createElement('td');
					tdTotal.className = 'text-center fw-bold';
					tdTotal.textContent = rowSum;
					tr.appendChild(tdTotal);

					grandTotal += rowSum;

					tbody.appendChild(tr);
				}

				// ================================
				// TOTAL ROW
				// ================================
				const trTotals = document.createElement('tr');
				['TOTAL', '', '', ''].forEach(text => {
					const td = document.createElement('td');
					td.className = 'text-center fw-bold';
					td.textContent = text;
					trTotals.appendChild(td);
				});

				pairTotals.forEach(v => {
					const td = document.createElement('td');
					td.className = 'text-center fw-bold';
					td.textContent = v;
					trTotals.appendChild(td);
				});

				const tdGrand = document.createElement('td');
				tdGrand.className = 'text-center fw-bold';
				tdGrand.textContent = grandTotal;
				trTotals.appendChild(tdGrand);

				tbody.appendChild(trTotals);

				// Append table
				table.appendChild(thead);
				table.appendChild(tbody);
				container.appendChild(table);
			}

			// ---------- Excel Export (same grouping logic, AOA -> XLSX) ----------
			function exportPivotToExcel(raw, claimRefNo, claimYear) {
				if (typeof XLSX === 'undefined') {
					alert('XLSX library not found. Include SheetJS before this script.');
					return;
				}
				if (!Array.isArray(raw) || raw.length === 0) {
					alert('No data to export.');
					return;
				}

				const {pairList, groupMap} = buildGroupMapAndPairs(raw);

				const aoa = [];

				// Row 1: Claim Ref No, Claim Year, blank, SB NO, SBs..., Total
				const row1 = [];
				row1[0] = 'Claim Ref No';
				row1[1] = 'Claim Year';
				row1[2] = '';
				row1[3] = 'SB NO.';
				pairList.forEach((p, idx) => row1[4 + idx] = p.sb);
				row1[4 + pairList.length] = 'Total';
				aoa.push(row1);

				// Row 2: empty, then "EXPORT MODEL NO." row
				const row2 = [];
				row2[3] = 'EXPORT MODEL NO.';
				pairList.forEach((p, idx) => row2[4 + idx] = p.model || '');
				aoa.push(row2);

				// Row 3: IMP PART NO / BOE NO labels
				const row3 = [];
				row3[2] = 'IMP. PART NO.';
				row3[3] = 'BOE NO.';
				aoa.push(row3);

				// Data rows
				const pairTotals = new Array(pairList.length).fill(0);
				let grandTotal = 0;

				for (const [, entry] of groupMap.entries()) {
					const dataRow = [];

					dataRow[0] = entry.first.claimRefNo;
					dataRow[1] = entry.first.claimYear;
					dataRow[2] = entry.first.impPartNo;
					dataRow[3] = entry.first.boeNo;

					let rowSum = 0;
					for (let i = 0; i < pairList.length; i++) {
						const val = Number(entry.sums[i] || 0);
						dataRow[4 + i] = val;
						pairTotals[i] += val;
						rowSum += val;
					}

					dataRow[4 + pairList.length] = rowSum;
					grandTotal += rowSum;

					aoa.push(dataRow);
				}

				// Totals row
				const totalsRow = [];
				totalsRow[0] = 'TOTAL';
				totalsRow[1] = '';
				totalsRow[2] = '';
				totalsRow[3] = '';
				for (let i = 0; i < pairList.length; i++) {
					totalsRow[4 + i] = pairTotals[i];
				}
				totalsRow[4 + pairList.length] = grandTotal;
				aoa.push(totalsRow);

				// Create worksheet
				const ws = XLSX.utils.aoa_to_sheet(aoa);

				// Column widths
				const cols = [
					{wpx: 140}, // Claim Ref
					{wpx: 110}, // Claim Year
					{wpx: 220}, // IMP
					{wpx: 130}  // BOE
				];
				for (let i = 0; i < pairList.length; i++) cols.push({wpx: 100});
				cols.push({wpx: 110}); // Total
				ws['!cols'] = cols;

				const wb = XLSX.utils.book_new();
				XLSX.utils.book_append_sheet(wb, ws, 'SB Qty Pivot');

				const fileNameSafeRef = (claimRefNo || 'SB_Qty').replace(/[^\w\-]+/g, '_');
				const fileNameSafeYear = (claimYear || '').replace(/[^\w\-]+/g, '_');
				const filename = `SB-wise-qty-${fileNameSafeRef}-${fileNameSafeYear}.xlsx`;

				XLSX.writeFile(wb, filename);
			}

			// ---------- Click Handler ----------
			async function handleViewClick(e) {
				const btn = e.currentTarget;
				const claimRefNo = btn.dataset.claimRef;
				const claimYear = btn.dataset.claimYear;

				const url = `${DETAIL_ENDPOINT}?claimRefNo=${encodeURIComponent(claimRefNo)}&claimYear=${encodeURIComponent(claimYear)}`;

				const resp = await fetch(url);
				const data = await resp.json();

				lastPivotRaw = data; // store if needed later

				// show hidden row
				const rowEl = document.getElementById("pivotRow");
				if (rowEl) rowEl.style.display = "block";

				// 1) render on page
				renderPivotTable(data);

				// 2) ALSO generate Excel immediately
				exportPivotToExcel(data, claimRefNo, claimYear);
			}

			// Bind buttons
			document.querySelectorAll('.view-sb-details').forEach(btn => {
				btn.addEventListener('click', handleViewClick);
			});

		});
	</script>









	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>



</body>

</html>