<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 1</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										
										<li class=" ">
																					<a th:href="@{/dbkcalculation/list/claimwise}">
																						<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
																						<span class="pcoded-mtext">SB DBK Consumption</span>
																						<span class="pcoded-mcaret"></span>
																					</a>
																				</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



														<ul class="pcoded-item pcoded-left-item">
															<li>
																<a th:href="@{/exceldataimport}">
																	<span class="pcoded-micon"><i class="ti-receipt"></i></span>
																	<span class="pcoded-mtext">Excel</span>
																	<span class="pcoded-mcaret"></span>
																</a>
															</li>


														</ul>
														<div class="pcoded-navigatio-lavel">Data Backup</div>
														<ul class="pcoded-item pcoded-left-item">
															<li>
																<a th:href="@{/export/all-zip}">
																	<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
																	<span class="pcoded-mtext">Download Data</span>
																	<span class="pcoded-mcaret"></span>
																</a>
															</li>
															<li>
																<a th:href="@{/backup/download}">
																	<span class="pcoded-micon"><i class="ti-receipt"></i></span>
																	<span class="pcoded-mtext">SQL</span>
																	<span class="pcoded-mcaret"></span>
																</a>
															</li>

															<li>
																<a th:href="@{/exportdata/excel/download}">
																	<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
																	<span class="pcoded-mtext">Export to Excel</span>
																	<span class="pcoded-mcaret"></span>
																</a>
															</li>

														</ul>
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Create SB Wise Qty Consumption</h3>
											<span>List of all BOM 2</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/}">BOM2</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">List</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->
										<div class="">

											<button type="button" onclick="window.history.back()"
												class="btn btn-primary m-r-10 m-b-5">
												<i class="icofont icofont-reply"></i> Back
											</button>

											<a class="btn btn-primary m-b-5 m-r-5" th:href="@{/sb-consumption/list}">
												<i class="icofont icofont-save"></i> Saved Data
											</a>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>Select BOM2 Data</h5>
														<span>List of all BOM 2</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
																<i class="icofont icofont-refresh"></i>
															</a>
														</div>
													</div>
													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">
															<form
																th:action="@{/sbwiseqtyconsumption/bomclaimdata/select}"
																method="get"
																class="d-flex align-items-center gap-2 m-3 flex-nowrap"
																style="max-width:400px;">
																<select name="filterField" id="filterField"
																	class="form-control form-control-sm mr-2"
																	style="width:110px; min-width:90px;" required
																	onchange="updateInputType();">
																	<option th:selected="${filterField == null}"
																		value="" disabled selected>Sort By</option>
																	<option th:selected="${filterField == 'bomPartNo'}"
																		value="bomPartNo">BOM Part No</option>
																	<option th:selected="${filterField == 'clientName'}"
																		value="clientName">Client Name</option>
																	<option th:selected="${filterField == 'claimRefNo'}"
																		value="claimRefNo">ClaimRefNo</option>

																	<option th:selected="${filterField == 'claimYear'}"
																		value="claimYear">Claim Year</option>


																	<!-- add more fields as needed -->
																</select>

																<input type="text" name="filterValue" id="filterValue"
																	th:value="${filterValue}" placeholder="Value"
																	class="form-control form-control-sm mr-2"
																	style="width:140px; min-width:120px;" required />

																<button type="submit"
																	class="btn btn-sm btn-primary waves-effect waves-light f-right"
																	title="Filter" style="height:32px;">
																	<i class="icofont icofont-search"
																		style="font-size: 1.2rem;"></i>
																</button>
															</form>
														</div>





														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive"
															style="max-height: 520px; overflow:auto;">
															<table id="bomTable"
																class="table table-hover table-sm table-bordered">
																<thead class="table-light sticky-top"
																	style="background-color: #fff; z-index: 1020;">
																	<tr>

																		<!-- Toggle Button -->
																		<th class="text-center">
																			<input type="checkbox" id="selectAll"
																				onclick="toggleAll(this)">
																			<span class="ms-1">Sr No</span>
																		</th>
																		<th>Claim Ref No</th>
																		<th>Claim Year</th>

																		<th>Material Description</th>
																		<th>BOM Part No.</th>
																		<th>Alt BOE Part</th>
																		<th>DBK Part No.</th>
																		<th>Imp\Indg</th>
																		<th>Unit</th>
																		<th>BOE No</th>
																		<th>Used QTY</th>
																		<th>Model No.</th>
																		<th>SB No.</th>



																		<th>Client Name</th>
																		<th>Claim ID</th>

																		<!-- Action -->



																	</tr>
																</thead>
																<tbody>
																	<th:block th:each="bom, stat : ${bomDataPage}">
																		<tr th:id="'bomRow' + ${stat.index}">

																			<!-- Checkbox + SR No -->
																			<td class="text-center">
																				<input type="checkbox"
																					class="row-select"
																					th:value="${stat.index}">
																				<span class="sr-no ms-1"
																					th:text="${stat.index + 1}"></span>
																			</td>

																			<!-- Editable cells with data-field -->
																			<td contenteditable="true"
																				data-field="claimRefNo"
																				th:text="${bom.claimRefNo}"></td>
																			<td contenteditable="true"
																				data-field="claimYear"
																				th:text="${bom.claimYear}"></td>
																			<td contenteditable="true"
																				data-field="materialDescription"
																				th:text="${bom.materialDescription}">
																			</td>
																			<td contenteditable="true"
																				data-field="bomPartNo"
																				th:text="${bom.bomPartNo}"></td>
																			<td contenteditable="true"
																				data-field="altBoePartNo"
																				th:text="${bom.altBoePartNo}"></td>
																			<td contenteditable="true"
																				data-field="dbkPartNo"
																				th:text="${bom.dbkPartNo}"></td>
																			<td contenteditable="true"
																				data-field="importedOrIndigenous"
																				th:text="${bom.importedOrIndigenous}">
																			</td>
																			<td contenteditable="true" data-field="unit"
																				th:text="${bom.unit}"></td>
																			<td contenteditable="true"
																				data-field="boeNo"
																				th:text="${bom.boeNo}"></td>
																			<td contenteditable="true"
																				data-field="usedQty"
																				th:text="${bom.usedQty}"></td>
																			<td contenteditable="true"
																				data-field="exportModelNo"
																				th:text="${bom.exportModelNo}"></td>
																			<td contenteditable="true" data-field="sbNo"
																				th:text="${bom.sbNo}"></td>
																			<td contenteditable="true"
																				data-field="clientName"
																				th:text="${bom.clientName}"></td>

																			<!--  style="display:none;" Hidden Claim ID (not editable but kept in DOM) -->
																			<td data-field="claimId"
																				th:text="${bom.claimId}"></td>

																		</tr>
																	</th:block>
																</tbody>

															</table>

														</div>

														<div class="text-center">
															<button id="saveBtn" type="button"
																class="btn btn-primary waves-effect waves-light m-b-5"
																style="width: 180px;">
																Create & Save
															</button>
														</div>


														<!-- Pagination controls -->



													</div>

												</div>
											</div>
											<!-- tab content end -->

										</div>
									</div>

								</div>


							</div>
						</div>
						<!--<div id="styleSelector">-->

						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		function toggleAll(master) {
			const checks = document.querySelectorAll('#bomTable .row-select');
			checks.forEach(cb => cb.checked = master.checked);
		}



	</script>


	<script>
		function updateInputType() {
			var field = document.getElementById('filterField').value;
			var input = document.getElementById('filterValue');
			if (field === 'sbDateFrom' || field === 'sbDateTo') {
				input.type = 'date';
				input.placeholder = '';
			} else {
				input.type = 'text';
				input.placeholder = 'Value';
			}
		}
		// Optionally, call on page load if preselected
		document.addEventListener("DOMContentLoaded", function () {
			updateInputType();
		});
	</script>



	<script>
		document.addEventListener('DOMContentLoaded', () => {

			// ----------------------
			// Configuration
			// ----------------------
			const SAVE_ENDPOINT = '/sb-qty-consumption/bulk-save';
			// If true, SB columns will be sorted (numeric-aware). If false, columns keep insertion order.
			const SORT_SB_COLUMNS = false;

			// ----------------------
			// Helpers
			// ----------------------
			function safeTrim(s) {return s == null ? '' : String(s).trim();}

			function parseUsedQtyToNumber(val) {
				if (val === null || val === undefined || val === '') return 0;
				const cleaned = String(val).replace(/,/g, '').trim();
				const n = parseFloat(cleaned);
				return Number.isFinite(n) ? n : 0;
			}

			function cleanUsedQtyForBackend(val) {
				if (val === null || val === undefined) return null;
				const cleaned = String(val).replace(/,/g, '').trim();
				return cleaned === '' ? null : cleaned;
			}

			// Read row values for export usage
			function readRowDataForExport(tr) {
				const cells = tr.querySelectorAll('td');
				return {
					claimRefNo: (cells[1] && cells[1].innerText.trim()) || '',
					claimYear: (cells[2] && cells[2].innerText.trim()) || '',
					impPartNo: (cells[6] && cells[6].innerText.trim()) || '',
					boeNo: (cells[9] && cells[9].innerText.trim()) || '',
					exportModelNo: (cells[11] && cells[11].innerText.trim()) || '',
					sbNo: (cells[12] && cells[12].innerText.trim()) || '',
					usedQtyRaw: (cells[10] && cells[10].innerText.trim()) || ''
				};
			}

			// Read row values for backend DTO
			function readRowDataForSave(tr) {
				const cells = tr.querySelectorAll('td');
				let claimId = null;
				const claimIdCell = tr.querySelector('[data-field="claimId"]');
				if (claimIdCell) {
					const v = claimIdCell.innerText.trim();
					claimId = v === '' ? null : Number(v);
				} else {
					const lastCell = cells[cells.length - 1];
					if (lastCell) {
						const v = lastCell.innerText.trim();
						claimId = v === '' ? null : Number(v);
					}
				}

				const claimRefNo = (cells[1] && cells[1].innerText.trim()) || '';
				const claimYear = (cells[2] && cells[2].innerText.trim()) || '';
				const bomPartNo = cells[4]?.innerText.trim() || ''; 
				const dbkPartNo = (cells[6] && cells[6].innerText.trim()) || '';
				const boeNo = (cells[9] && cells[9].innerText.trim()) || '';
				const exportModelNo = (cells[11] && cells[11].innerText.trim()) || '';
				const sbNo = (cells[12] && cells[12].innerText.trim()) || '';
				const usedQtyRaw = (cells[10] && cells[10].innerText.trim()) || '';

				return {
					claimId: claimId,
					claimRefNo: claimRefNo,
					claimYear: claimYear,
					bomPartNo: bomPartNo,
					dbkPartNo: dbkPartNo,
					boeNo: boeNo,
					usedQty: cleanUsedQtyForBackend(usedQtyRaw), // send as string for BigDecimal
					exportModelNo: exportModelNo,
					sbNo: sbNo
				};
			}

			// ----------------------
			// Two-pass pair & group builder (fixes column-placement bug)
			// raw: [{claimRefNo,claimYear,impPartNo,boeNo,exportModelNo,sbNo,usedQtyRaw}, ...]
			// returns { pairList, groupMap }
			// ----------------------
			function buildGroupMapAndPairs(raw, {sortPairs = SORT_SB_COLUMNS} = {}) {
				// 1) collect unique SB|Model pairs in insertion order
				const pairKeyToPair = new Map(); // key -> {sb, model}
				raw.forEach(item => {
					const sb = safeTrim(item.sbNo);
					const model = safeTrim(item.exportModelNo);
					const key = sb + '|' + model;
					if (!pairKeyToPair.has(key)) pairKeyToPair.set(key, {sb, model});
				});

				// convert to array
				let pairList = Array.from(pairKeyToPair.values());

				// optional stable sort (numeric-aware)
				if (sortPairs) {
					pairList.sort((a, b) => a.sb.localeCompare(b.sb, undefined, {numeric: true}));
				}

				// build index map
				const pairIndexMap = new Map();
				pairList.forEach((p, i) => pairIndexMap.set(p.sb + '|' + p.model, i));

				// 2) build groupMap using final indices
				const groupMap = new Map(); // groupKey -> { first: {...}, sums: Array(pairList.length) }
				raw.forEach(item => {
					const imp = safeTrim(item.impPartNo);
					const boe = safeTrim(item.boeNo);
					const groupKey = boe + '|' + imp;

					if (!groupMap.has(groupKey)) {
						groupMap.set(groupKey, {
							first: {
								claimRefNo: safeTrim(item.claimRefNo),
								claimYear: safeTrim(item.claimYear),
								impPartNo: imp,
								boeNo: boe
							},
							sums: new Array(pairList.length).fill(0)
						});
					}

					const entry = groupMap.get(groupKey);
					const used = parseUsedQtyToNumber(item.usedQtyRaw);
					const pairKey = safeTrim(item.sbNo) + '|' + safeTrim(item.exportModelNo);
					const pIdx = pairIndexMap.get(pairKey);

					if (typeof pIdx === 'number') {
						entry.sums[pIdx] = (entry.sums[pIdx] || 0) + used;
					} else {
						console.warn('Pair not found in final pairIndexMap (skipped):', pairKey);
					}
				});

				return {pairList, groupMap};
			}

			// ----------------------
			// Export builder (AOA -> XLSX)
			// ----------------------
			function exportRawToExcel(raw) {
				if (!Array.isArray(raw) || raw.length === 0) {
					alert('No data to export.');
					return;
				}

				const {pairList, groupMap} = buildGroupMapAndPairs(raw);

				// Build AOA
				const aoa = [];
				aoa.push([]); // row 1 blank

				// Row 2: 'SB NO' in column D (index 3)
				const row2 = [];
				row2[3] = 'SB NO';
				pairList.forEach((p, idx) => row2[4 + idx] = p.sb);
				aoa.push(row2);

				// Row 3: 'Export Model No'
				const row3 = [];
				row3[3] = 'Export Model No';
				pairList.forEach((p, idx) => row3[4 + idx] = p.model);
				aoa.push(row3);

				// Row 4 headers
				const headerRow = ['Claim Ref No', 'Claim Year', 'IMP Part No', 'BOE No'];
				pairList.forEach(_ => headerRow.push(''));
				headerRow.push('Row Total');
				aoa.push(headerRow);

				// Data rows
				const pairTotals = new Array(pairList.length).fill(0);
				let grandTotal = 0;

				for (const [groupKey, entry] of groupMap.entries()) {
					const dataRow = [];
					dataRow[0] = entry.first.claimRefNo;
					dataRow[1] = entry.first.claimYear;
					dataRow[2] = entry.first.impPartNo;
					dataRow[3] = entry.first.boeNo;

					let rowSum = 0;
					for (let i = 0; i < pairList.length; i++) {
						const val = entry.sums[i] || 0;
						dataRow[4 + i] = Number.isFinite(val) ? (Math.round((val + Number.EPSILON) * 1000000) / 1000000) : 0;
						pairTotals[i] += dataRow[4 + i];
						rowSum += dataRow[4 + i];
					}

					const rowTotalVal = Number.isInteger(rowSum) ? rowSum : (Math.round((rowSum + Number.EPSILON) * 1000000) / 1000000);
					dataRow[4 + pairList.length] = rowTotalVal;
					grandTotal += rowTotalVal;

					aoa.push(dataRow);
				}

				// Totals row
				const totalsRow = [];
				totalsRow[0] = 'TOTAL';
				totalsRow[1] = '';
				totalsRow[2] = '';
				totalsRow[3] = '';
				for (let i = 0; i < pairList.length; i++) {
					const v = pairTotals[i] || 0;
					totalsRow[4 + i] = Number.isInteger(v) ? v : (Math.round((v + Number.EPSILON) * 1000000) / 1000000);
				}
				totalsRow[4 + pairList.length] = Number.isInteger(grandTotal) ? grandTotal : (Math.round((grandTotal + Number.EPSILON) * 1000000) / 1000000);
				aoa.push(totalsRow);

				// Create worksheet and set column widths
				const ws = XLSX.utils.aoa_to_sheet(aoa);
				const cols = [
					{wpx: 160}, // A Claim Ref No
					{wpx: 100}, // B Claim Year
					{wpx: 220}, // C IMP Part No (DBK)
					{wpx: 130}  // D BOE No
				];
				for (let i = 0; i < pairList.length; i++) cols.push({wpx: 100});
				cols.push({wpx: 110}); // Row Total
				ws['!cols'] = cols;

				// Styling: bold header row (row 4), D2/D3 and totals label
				const headerExcelRow = 4;
				const totalHeaderCols = 4 + pairList.length;
				for (let col = 0; col <= totalHeaderCols; col++) {
					const letter = XLSX.utils.encode_col(col);
					const ref = letter + headerExcelRow;
					if (ws[ref]) {
						ws[ref].s = ws[ref].s || {};
						ws[ref].s.font = Object.assign({}, ws[ref].s.font, {bold: true});
						ws[ref].s.alignment = Object.assign({}, ws[ref].s.alignment, {horizontal: 'center'});
					}
				}
				if (ws['D2']) ws['D2'].s = Object.assign({}, ws['D2'].s, {font: {bold: true}});
				if (ws['D3']) ws['D3'].s = Object.assign({}, ws['D3'].s, {font: {bold: true}});

				// Bold totals label cell
				const totalsRowIndexExcel = aoa.length;
				const totalsLabelRef = 'A' + totalsRowIndexExcel;
				if (ws[totalsLabelRef]) ws[totalsLabelRef].s = Object.assign({}, ws[totalsLabelRef].s, {font: {bold: true}});

				// Create workbook & download
				const wb = XLSX.utils.book_new();
				XLSX.utils.book_append_sheet(wb, ws, 'SB Qty Consumption(Software)');
				const filename = 'SB-wise-qty-consumption.xlsx';
				XLSX.writeFile(wb, filename);

				console.info(`Exported ${groupMap.size} BOE+IMP rows with ${pairList.length} SB/Model columns.`);
			}

			// ----------------------
			// Save + Export main
			// ----------------------
			async function saveAndExportSelected() {
				if (typeof XLSX === 'undefined') {
					alert('XLSX library not found. Include SheetJS before this script.');
					return;
				}

				const allRows = Array.from(document.querySelectorAll('#bomTable tbody tr'));
				const selectedRows = allRows.filter(tr => {
					const cb = tr.querySelector('.row-select');
					return cb && cb.checked;
				});

				if (selectedRows.length === 0) {
					alert('Select at least one row to save/export.');
					return;
				}

				const payload = [];
				const exportRaw = [];

				for (const tr of selectedRows) {
					const dto = readRowDataForSave(tr);
					if (dto.usedQty === null || dto.usedQty === '') dto.usedQty = '0';
					payload.push(dto);
					exportRaw.push(readRowDataForExport(tr));
				}

				try {
					const resp = await fetch(SAVE_ENDPOINT, {
						method: 'POST',
						headers: {'Content-Type': 'application/json'},
						body: JSON.stringify(payload)
					});

					if (!resp.ok) {
						let msg = resp.statusText;
						try {
							const body = await resp.json();
							msg = JSON.stringify(body);
						} catch (e) {
							msg = await resp.text().catch(() => resp.statusText);
						}
						console.error('Save failed', msg);
						alert('❌ Save failed: ' + msg);
						return;
					}

					const saved = await resp.json();
					// saved may be a map {status, savedCount, ...} or an array of saved entities
					const savedCount = (saved && (saved.savedCount || (Array.isArray(saved) ? saved.length : null))) ?? payload.length;

					// Popup success
					alert(`✅ Data saved successfully!\nSaved records: ${savedCount}`);
					window.location.href="/sb-consumption/groups";

					// highlight saved rows (add class .saved-row) and disable their checkboxes
					selectedRows.forEach(tr => {
						tr.classList.add('saved-row');
						const cb = tr.querySelector('.row-select');
						if (cb) {cb.checked = false; cb.disabled = true;}
					});

					// proceed to export
					exportRawToExcel(exportRaw);

				} catch (err) {
					console.error('Error saving rows', err);
					alert('❌ Error saving rows: ' + err.message);
				}
			}

			// ----------------------
			// Button binding
			// ----------------------
			const saveBtn = document.getElementById('saveBtn');
			if (saveBtn) {
				saveBtn.addEventListener('click', saveAndExportSelected);
			} else {
				console.warn('saveBtn not found - export/save button missing.');
			}

		});
	</script>











	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>



</body>

</html>