<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<style>
		.row-select {
			transform: scale(1.1);
			cursor: pointer;
		}
	</style>
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu  ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Export Data Upload</h3>
											<span>Extract your Excel Documents</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/exceldataimport}">Excel</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">Export Data</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->
										<div class="">

											<button type="button" onclick="window.history.back()"
												class="btn btn-primary m-r-10 m-b-5">
												<i class="icofont icofont-reply"></i> Back
											</button>
										</div>
										<div class="row">
											<div class="col-lg-12">

												<!-- tab header end -->
												<!-- tab content start -->
												<div class="tab-content">
													<!-- tab panel personal start -->
													<div class="tab-pane active" id="personal" role="tabpanel">
														<!-- personal card start -->
														<div class="card">
															<div class="card-header">
																<h5>File Upload</h5>
																<span>Choose Import Excel file</span>
																<div class="card-header-right">
																	<i class="icofont icofont-rounded-down"></i>
																	<a href=""><i
																			class="icofont icofont-refresh"></i></a>
																</div>
															</div>
															<div class="card-body">
																<form id="fileUploadForm" enctype="multipart/form-data"
																	method="post" action="/exportdata/exportExcel">
																	<!-- Drop zone and hidden file input -->
																	<div class="file-drop-zone"
																		style="border: 2px dashed #0d6efd; border-radius: 10px; padding: 40px 0; text-align: center; background: #fafbfc; margin: 24px; font-size: 1.1rem; color: #555; cursor: pointer;"
																		id="file-drop-zone"
																		onclick="document.getElementById('fileInput').click();"
																		ondragover="event.preventDefault(); this.style.borderColor='#007bff';"
																		ondragleave="event.preventDefault(); this.style.borderColor='#e2e2e2';"
																		ondrop="handleFileDrop(event);">
																		Drop Excel files here to upload
																	</div>
																	<input type="file" id="fileInput" name="file"
																		style="display: none;" accept=".xlsx,.xls"
																		onchange="handleFileSelect(event)" />

																	<div class="text-center">
																		<button type="submit"
																			class="btn btn-primary waves-effect waves-light m-b-5"
																			style="width: 150px;">
																			Import Excel
																		</button>
																	</div>
																</form>
															</div>
														</div>

														<div class="card mt-4"
															th:if="${exportRows != null or error != null}">
															<div class="card-header">
																<h5>Export Details</h5>
																<small th:if="${exportFileName != null}"><span
																		th:text="${exportFileName}"></span></small>
																<span class="text-info" th:if="${rowCount != null}">
																	Parsed <span th:text="${rowCount}"></span> rows
																</span>

																<small class="text-danger" th:if="${error != null}"
																	th:text="${error}"></small>
															</div>
															<div class="card-body">
																<div th:if="${exportRows == null}">
																	<em>No data loaded yet. Upload an Excel file and
																		click Import Excel.</em>
																</div>

																<div th:if="${exportRows != null}"
																	class="table-responsive"
																	style="max-height: 520px; overflow:auto;">
																	<table id="exportTable"
																		style="background-color: #fff; z-index: 1020;"
																		class="table table-sm table-striped table-bordered align-middle">
																		<thead class="table-light sticky-top">
																			<tr>
																				<th class="text-center">
																					<input type="checkbox"
																						id="selectAll"
																						onclick="toggleAll(this)">
																					<span class="ms-1">Sr No</span>
																				</th>
																				<th>SB No</th>
																				<th>SB Date</th>
																				<th>Month</th>
																				<th>YEAR</th>
																				<th>INVOICE No.</th>
																				<th>Invoice Date</th>

																				<th>Claim Ref. no.</th>
																				<th>Claim Year</th>
																				<th>Port Code</th>
																				<th>LEO Date.</th>
																				<th>HS CD</th>
																				<th>CUSTOMER NAME</th>
																				<th>DESCRIPTION</th>
																				<th>MODEL no.</th>
																				<th>PRODUCT TYPE</th>
																				<th class="text-end">QUANTITY</th>
																				<th>UNIT</th>
																				<th class="text-end">INVOICE VALUE IN
																					FCC</th>
																				<th>CURRENCY</th>
																				<th class="text-end">FOB INR</th>
																				<th class="text-end">PMV(per qty)</th>
																				<th class="text-end">PMV Actual</th>
																				<th>SCHEME DESCRIPTION</th>
																				<th>DBK SNO.</th>
																				<th>DBK Applicability</th>
																				<th class="text-end">RATE</th>
																				<th class="text-end">AIR Given in SB
																				</th>
																				<th class="text-end">AIR AMOUNT</th>
																				<th class="text-end">Difference</th>
																				<th class="text-end">Total DBK</th>
																				<th class="text-end">SBR</th>
																				<th>ARO No.</th>
																				<th>ARO DATE</th>
																				<th>ARO File NO.</th>
																				<th>ARO File DATE</th>
																				<th>BRC no.</th>
																				<th class="text-end">Net Realised Value
																				</th>
																				<th>CURRENCY</th>
																				<th>SB utilization</th>
																				<th>Client Name</th>
																				<th class="text-center">Action</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="r, rowStat : ${exportRows}">
																				<td class="text-center">
																					<input type="checkbox"
																						class="row-select"
																						th:value="${rowStat.index}">
																					<span class="sr-no ms-1"
																						th:text="${rowStat.index + 1}"></span>
																				</td>
																				<td contenteditable="true"
																					th:text="${r.sbNo}"></td>
																				<td contenteditable="true"
																					class="sbDate"
																					th:text="${#temporals.format(r.sbDate, 'yyyy-MM-dd')}">
																				</td>
																				<td class="sbMonth"
																					contenteditable="false"></td>
																				<td class="sbYear"
																					contenteditable="false"></td>
																				<td contenteditable="true"
																					th:text="${r.invoiceNo}"></td>
																				<td contenteditable="true"
																					th:text="${#temporals.format(r.invoiceDate, 'yyyy-MM-dd')}">
																				</td>

																				<td contenteditable="true"
																					th:text="${r.claimRefNo}"></td>
																				<td contenteditable="true"
																					th:text="${r.claimYear}"></td>
																				<td contenteditable="true"
																					th:text="${r.portCode}"></td>
																				<td contenteditable="true"
																					th:text="${#temporals.format(r.leoDate, 'yyyy-MM-dd')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.hsCode}"></td>
																				<td contenteditable="true"
																					th:text="${r.customerName}"></td>
																				<td contenteditable="true"
																					th:text="${r.modelDescription}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.modelNo}"></td>
																				<td contenteditable="true"
																					th:text="${r.productType}"></td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.quantity,1,'COMMA',2,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.unit}"></td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.invoiceValueFcc,0,'COMMA',2,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.currencyCode}"></td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.fobInr,0,'COMMA',2,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.pmvPerQty,0,'COMMA',2,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.pmvActual,0,'COMMA',2,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.schemeDescription}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.dbkSno}"></td>
																				<td contenteditable="true"
																					th:text="${r.dbkApplicability}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.rate,1,'COMMA',6,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.airGivenInSb,0,'COMMA',3,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.airAmount,0,'COMMA',3,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.difference,1,'COMMA',12,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.totalDbk,0,'COMMA',6,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.sbr,0,'COMMA',6,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.aroNo}"></td>
																				<td contenteditable="true"
																					th:text="${#temporals.format(r.aroDate, 'yyyy-MM-dd')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.aroFileNo}"></td>
																				<td contenteditable="true"
																					th:text="${#temporals.format(r.aroFileDate, 'yyyy-MM-dd')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.brcNo}"></td>
																				<td contenteditable="true"
																					class="text-end"
																					th:text="${#numbers.formatDecimal(r.netRealisedValue,0,'COMMA',6,'POINT')}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.netRealisedCurrency}">
																				</td>
																				<td contenteditable="true"
																					th:text="${r.sbUtilization}"></td>
																				<td contenteditable="true"
																					th:text="${exportFileName.contains('.') ? exportFileName.substring(0, exportFileName.lastIndexOf('.')) : exportFileName}">
																				</td>

																				<td class="text-center">
																					<button type="button"
																						class="btn btn-sm btn-outline-danger"
																						onclick="removeRow(this)">Remove</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>

																</div>
																<div class="text-center">
																	<button id="saveBtn" type="button"
																		class="btn btn-primary waves-effect waves-light m-b-5"
																		style="width: 150px;">
																		Save
																	</button>
																</div>
															</div>
														</div>



														<script>
															function parseDecimal(txt) {
																if (txt == null) return null;
																const n = txt.replace(/,/g, '').trim();
																return n === '' || isNaN(n) ? null : n;
															}
															function parseIntSafe(txt) {
																const n = (txt || '').trim();
																return n === '' || isNaN(n) ? null : parseInt(n, 10);
															}
															function toIsoLocalDate(txt) {
																const t = (txt || '').trim();
																if (!t) return null;
																if (/^\d{4}-\d{2}-\d{2}$/.test(t)) return t;             // yyyy-MM-dd
																const m = t.match(/^(\d{2})\/(\d{2})\/(\d{4})$/);         // dd/MM/yyyy
																if (m) return `${m[3]}-${m[2]}-${m[1]}`;
																return t; // last-resort; backend may reject
															}
															function nth(tr, idx) {
																return tr.querySelector(`td:nth-child(${idx})`)?.innerText?.trim() || '';
															}

															async function collectSelectedExportDTO() {
																const out = [];
																const rows = document.querySelectorAll('#exportTable tbody tr');
																rows.forEach(tr => {
																	const cb = tr.querySelector('input.row-select');
																	if (!cb || !cb.checked) return;

																	const dto = {
																		sbNo: nth(tr, 2),
																		sbDate: toIsoLocalDate(nth(tr, 3)),
																		sbMonth: nth(tr, 4),
																		sbYear: nth(tr, 5),
																		invoiceNo: nth(tr, 6),
																		invoiceDate: toIsoLocalDate(nth(tr, 7)),
																		claimRefNo: nth(tr, 8),
																		claimYear: nth(tr, 9),
																		portCode: nth(tr, 10),
																		leoDate: toIsoLocalDate(nth(tr, 11)),
																		hsCode: nth(tr, 12),
																		customerName: nth(tr, 13),
																		modelDescription: nth(tr, 14),
																		modelNo: nth(tr, 15),
																		productType: nth(tr, 16),
																		quantity: parseDecimal(nth(tr, 17)),
																		unit: nth(tr, 18),
																		invoiceValueFcc: parseDecimal(nth(tr, 19)),
																		currencyCode: nth(tr, 20),
																		fobInr: parseDecimal(nth(tr, 21)),
																		pmvPerQty: parseDecimal(nth(tr, 22)),
																		pmvActual: parseDecimal(nth(tr, 23)),
																		schemeDescription: nth(tr, 24),
																		dbkSno: nth(tr, 25),
																		dbkApplicability: nth(tr, 26),
																		rate: parseDecimal(nth(tr, 27)),
																		airGivenInSb: parseDecimal(nth(tr, 28)),
																		airAmount: parseDecimal(nth(tr, 29)),
																		difference: parseDecimal(nth(tr, 30)),
																		totalDbk: parseDecimal(nth(tr, 31)),
																		sbr: parseDecimal(nth(tr, 32)),
																		aroNo: nth(tr, 33),
																		aroDate: toIsoLocalDate(nth(tr, 34)),
																		aroFileNo: nth(tr, 35),
																		aroFileDate: toIsoLocalDate(nth(tr, 36)),
																		brcNo: nth(tr, 37),
																		netRealisedValue: parseDecimal(nth(tr, 38)),
																		netRealisedCurrency: nth(tr, 39),
																		sbUtilization: nth(tr, 40),
																		clientName: nth(tr, 41)
																	};
																	out.push(dto);
																});
																return out;
															}

															async function saveSelectedExport() {
																const btn = document.getElementById('saveBtn');
																const loader = document.querySelector('.theme-loader');
																btn.style.display = 'none';
																if (loader) loader.style.display = 'block';

																const rows = await collectSelectedExportDTO();
																if (!rows.length) {
																	alert('Please select at least one row.');
																	btn.style.display = '';
																	if (loader) loader.style.display = 'none';
																	return;
																}
																try {
																	const resp = await fetch('/exportdata/bulk-save', {
																		method: 'POST',
																		headers: {'Content-Type': 'application/json'},
																		body: JSON.stringify(rows)
																	});
																	if (!resp.ok) throw new Error(await resp.text());
																	const res = await resp.json();
																	alert(`Saved ${res.savedCount} rows.`);
																	window.location.href = '/exportdata/list';
																} catch (e) {
																	console.error(e);
																	alert('Save failed: ' + e.message);
																	btn.style.display = '';
																	if (loader) loader.style.display = 'none';
																}
															}

															// Hook up the save button when ready
															document.addEventListener('DOMContentLoaded', function () {
																const btn = document.getElementById('saveBtn');
																if (btn) {
																	btn.addEventListener('click', saveSelectedExport);
																}
															});
														</script>


														<script>
															document.addEventListener('DOMContentLoaded', () => {
																const table = document.getElementById("exportTable");

																function updateMonthYear(row, dateCellClass, monthCellClass, yearCellClass) {
																	const dateCell = row.querySelector(`.${dateCellClass}`);
																	const monthCell = row.querySelector(`.${monthCellClass}`);
																	const yearCell = row.querySelector(`.${yearCellClass}`);

																	if (!dateCell || !monthCell || !yearCell) return;

																	const doUpdate = () => {
																		const dateStr = dateCell.innerText.trim();
																		const dateObj = new Date(dateStr);

																		if (dateObj.toString() !== "Invalid Date") {
																			const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
																				"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
																			monthCell.innerText = monthNames[dateObj.getMonth()];
																			yearCell.innerText = dateObj.getFullYear().toString().slice(-2);
																		} else {
																			monthCell.innerText = "";
																			yearCell.innerText = "";
																		}
																	};

																	// Bind multiple events to ensure input is caught on different browsers for contenteditable cells
																	['input', 'keyup', 'blur'].forEach(evt => {
																		dateCell.addEventListener(evt, doUpdate);
																	});

																	// Run update once initially to fill month/year from existing date
																	doUpdate();
																}

																const rows = table.querySelectorAll('tbody tr');
																rows.forEach(row => {
																	updateMonthYear(row, "sbDate", "sbMonth", "sbYear");
																});
															});

														</script>

														<script>
															document.addEventListener('DOMContentLoaded', () => {
																const table = document.getElementById("exportTable");

																// Utility to parse numbers removing commas and handling empty values
																function parseNumber(text) {
																	if (!text) return 0;
																	text = text.replace(/,/g, '');
																	let num = parseFloat(text);
																	return isNaN(num) ? 0 : num;
																}

																// Utility to format decimal with your formatting: 1 decimal, comma thousands, point decimal
																function formatDecimal(num, decimals = 1) {
																	return num.toLocaleString('en-IN', {
																		minimumFractionDigits: decimals,
																		maximumFractionDigits: decimals
																	});
																}

																// Recalculate all computed columns for a given row element
																function recalculateRow(row) {
																	const qtyCell = row.querySelector('td:nth-child(17)');       // Quantity
																	const pmvPerQtyCell = row.querySelector('td:nth-child(22)'); // PMV Per Qty
																	const pmvActualCell = row.querySelector('td:nth-child(23)'); // PMV Actual

																	const fobInrCell = row.querySelector('td:nth-child(21)');    // FOB INR
																	const rateCell = row.querySelector('td:nth-child(27)');      // RATE
																	const airGivenCell = row.querySelector('td:nth-child(28)');  // AIR Given in SB
																	const airAmountCell = row.querySelector('td:nth-child(29)'); // AIR Amount

																	const differenceCell = row.querySelector('td:nth-child(30)');// Difference

																	const dbkSnoCell = row.querySelector('td:nth-child(25)');    // DBK SNO
																	const dbkApplicabilityCell = row.querySelector('td:nth-child(26)'); // DBK Applicability

																	const totalDbkCell = row.querySelector('td:nth-child(31)');  // Total DBK
																	const sbrCell = row.querySelector('td:nth-child(32)');       // SBR

																	// Calculate PMV Actual = PMV Per Qty * Quantity
																	let quantity = parseNumber(qtyCell.innerText);
																	let pmvPerQty = parseNumber(pmvPerQtyCell.innerText);
																	let pmvActual = pmvPerQty * quantity;
																	pmvActualCell.innerText = formatDecimal(pmvActual, 1);

																	// Calculate AIR Amount = FOB INR * RATE
																	let fobInr = parseNumber(fobInrCell.innerText);
																	let rate = parseNumber(rateCell.innerText);
																	let airAmount = fobInr * rate;
																	airAmountCell.innerText = formatDecimal(airAmount, 3);

																	// Calculate Difference = AIR Given in SB - AIR Amount
																	let airGiven = parseNumber(airGivenCell.innerText);
																	let difference = airGiven - airAmount;
																	differenceCell.innerText = formatDecimal(difference, 1);

																	// Calculate DBK Applicability = YES if DBK SNO = 98078483B else NO
																	let dbkSno = dbkSnoCell.innerText.trim();
																	dbkApplicabilityCell.innerText = (dbkSno === "98078483B") ? "YES" : "NO";

																	// Calculate SBR = Total DBK - AIR Amount
																	let totalDbk = parseNumber(totalDbkCell.innerText);
																	let sbr = totalDbk - airAmount;
																	sbrCell.innerText = formatDecimal(sbr, 1);
																}

																// Bind recalculate to contenteditable fields which affect calculations,
																// i.e. Quantity, PMV Per Qty, FOB INR, RATE, AIR Given in SB, DBK SNO, Total DBK
																function bindRecalculate(row) {
																	['td:nth-child(17)', 'td:nth-child(22)', 'td:nth-child(21)', 'td:nth-child(27)', 'td:nth-child(28)', 'td:nth-child(25)', 'td:nth-child(31)'].forEach(selector => {
																		const cell = row.querySelector(selector);
																		if (cell) {
																			['input', 'blur', 'keyup'].forEach(evt => {
																				cell.addEventListener(evt, () => {
																					recalculateRow(row);
																				});
																			});
																		}
																	});
																}

																// Initial calculation on all rows and bind event listeners
																const rows = table.querySelectorAll('tbody tr');
																rows.forEach(row => {
																	recalculateRow(row);
																	bindRecalculate(row);
																});
															});


														</script>


														<script>
															function toggleAll(master) {
																const checks = document.querySelectorAll('#exportTable .row-select');
																checks.forEach(cb => cb.checked = master.checked);
															}

															function removeRow(btn) {
																const tr = btn.closest('tr');
																if (!tr) return;
																tr.remove();
																renumberRows();
															}

															function renumberRows() {
																const rows = document.querySelectorAll('#exportTable tbody tr');
																rows.forEach((tr, idx) => {
																	const sr = tr.querySelector('.sr-no');
																	if (sr) sr.textContent = idx + 1;
																	const cb = tr.querySelector('.row-select');
																	if (cb) cb.value = idx;
																});
															}
														</script>

														<script>
															function handleFileSelect(event) {
																const file = event.target.files[0];
																if (file) {
																	document.getElementById('file-drop-zone').textContent = `Selected file: ${file.name}`;
																}
															}

															function handleFileDrop(event) {
																event.preventDefault();
																const dt = event.dataTransfer;
																const files = dt.files;
																if (files.length > 0) {
																	document.getElementById('fileInput').files = files;
																	document.getElementById('file-drop-zone').textContent = `Selected file: ${files[0].name}`;
																}
																event.target.style.borderColor = '#e2e2e2';
															}

															function dashboardEcharts() {
																console.log("dashboardEcharts called");
															}
														</script>

													</div>
												</div>
												<!-- tab content end -->
											</div>
										</div>
									</div>


								</div>
							</div>
							<!--<div id="styleSelector">-->

							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fixed-button">
			<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
		</div>
	</div>




	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>


</body>

</html>