<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Selected Draft</h3>
											<span>List of saved draft</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a
														th:href="@{/draftworksheet/list}">Draft</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">List</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->
										<div class="">

											<button type="button" onclick="window.history.back()"
												class="btn btn-primary m-r-10 m-b-5">
												<i class="icofont icofont-reply"></i> Back
											</button>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>Worksheet Draft List</h5>
														<span></span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/draftworksheet/list}">
																<i class="icofont icofont-refresh"></i>
															</a>
														</div>
													</div>
													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">

														</div>





														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive"
															style="max-height: 520px; overflow:auto;">
															<table id="worksheetTable"
																class="table table-hover table-sm table-bordered">
																<thead class="table-light sticky-top"
																	style="background-color:#fff;">
																	<tr>
																		<th><input type="checkbox" id="selectAll" />
																		</th>
																		<th>Sr No.</th>
																		<th>BE No</th>
																		<th>BE Date</th>
																		<th>Claim Ref</th>
																		<th>Claim Year</th>
																		<th>Item Description</th>
																		<th>BOM Part No</th>
																		<th>BOE Part No</th>
																		<th>DBK Part No</th>
																		<th>Import Qty</th>
																		<th>UOM</th>
																		<th>Assessable Value</th>
																		<th>CIF Value</th>
																		<th>Per Qty CIF</th>
																		<th>BCD</th>
																		<th>SWS</th>
																		<th>Add Duty</th>
																		<th>Total Duty</th>
																		<th>Duty Per Qty</th>
																		<th>Used Qty</th>
																		<th>Duty Claimed</th>
																		<th>CIF Claimed</th>
																		<th>BCD Claimed</th>
																		<th>SWS Claimed</th>
																		<th>Add Claimed</th>
																		<th>Opening</th>
																		<th>Used</th>
																		<th>Closing</th>
																		<th style="display:none;">ImportID</th>
																		<th style="display:none;">DraftID</th>
																		<th>Username</th>

																	</tr>
																</thead>

																<tbody>
																	<th:block th:each="ws, stat : ${draftList}">
																		<tr th:id="'wsRow' + ${stat.index}">
																			<td class="text-center">
																				<input type="checkbox"
																					class="rowCheckbox" />
																			</td>
																			<td class="text-center">
																				<button type="button"
																					class="btn btn-sm btn-link p-0"
																					th:data-index="${stat.index}"
																					onclick="toggleExportModels(this.getAttribute('data-index'))">
																					<i th:id="'toggleIcon' + ${stat.index}"
																						class="bi bi-caret-right"></i>
																				</button>

																				<span class="sr-no ms-1"
																					th:text="${stat.index + 1}"></span>
																			</td>


																			<td contenteditable="true" data-field="beNo"
																				th:text="${ws.beNo}"></td>
																			<td contenteditable="true"
																				data-field="beDate"
																				th:text="${#temporals.format(ws.beDate, 'dd-MM-yyyy')}">
																			</td>
																			<td contenteditable="true"
																				data-field="claimRefNo"
																				th:text="${ws.claimRefNo}"></td>
																			<td contenteditable="true"
																				data-field="claimYear"
																				th:text="${ws.claimYear}"></td>
																			<td contenteditable="true"
																				data-field="itemDescription"
																				th:text="${ws.itemDescription}"></td>
																			<td contenteditable="true"
																				data-field="bomPartNo"
																				th:text="${ws.bomPartNo}"></td>

																			<td contenteditable="true"
																				data-field="altBoePartNo"
																				th:text="${ws.altBoePartNo}"></td>

																			<td contenteditable="true"
																				data-field="dbkPartNo"
																				th:text="${ws.dbkPartNo}"></td>
																			<td contenteditable="true"
																				data-field="importQty"
																				th:text="${#numbers.formatDecimal(ws.importQty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true" data-field="uom"
																				th:text="${ws.uom}"></td>
																			<td contenteditable="true"
																				data-field="assessableValue"
																				th:text="${#numbers.formatDecimal(ws.assessableValue, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="cifValue"
																				th:text="${#numbers.formatDecimal(ws.cifValue, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="perQtyCif"
																				th:text="${#numbers.formatDecimal(ws.perQtyCif, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true" data-field="bcd"
																				th:text="${#numbers.formatDecimal(ws.bcd, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true" data-field="sws"
																				th:text="${#numbers.formatDecimal(ws.sws, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="addDuty"
																				th:text="${#numbers.formatDecimal(ws.addDuty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="totalDuty"
																				th:text="${#numbers.formatDecimal(ws.totalDuty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="dutyPerQty"
																				th:text="${#numbers.formatDecimal(ws.dutyPerQty, 0, 'COMMA', 6, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="usedQtyTotal"
																				th:text="${#numbers.formatDecimal(ws.usedQtyTotal, 0, 'COMMA', 6, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="dutyClaimedTotal"
																				th:text="${#numbers.formatDecimal(ws.dutyClaimedTotal, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="cifClaimedTotal"
																				th:text="${#numbers.formatDecimal(ws.cifClaimedTotal, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="bcdClaimed"
																				th:text="${#numbers.formatDecimal(ws.bcdClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="swsClaimed"
																				th:text="${#numbers.formatDecimal(ws.swsClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="addClaimed"
																				th:text="${#numbers.formatDecimal(ws.addClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="openingBalanceQtyDef"
																				th:text="${#numbers.formatDecimal(ws.openingBalanceQtyDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="qtyUsedDef"
																				th:text="${#numbers.formatDecimal(ws.qtyUsedDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="true"
																				data-field="closingBalanceDef"
																				th:text="${#numbers.formatDecimal(ws.closingBalanceDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td contenteditable="false"
																				style="display:none;"
																				th:text="${ws.importId}"
																				data-field="importId"></td>
																			<td contenteditable="false"
																				style="display:none;"
																				th:text="${ws.draftWorksheetId}"
																				data-field="draftWorksheetId"></td>

																			<td contenteditable="false"
																				th:text="${ws.username}"
																				data-field="username"></td>
																		</tr>

																		<!-- Nested Export Models -->
																		<tr th:id="'exportModelsRow' + ${stat.index}"
																			class="export-models-row"
																			style="display:none;">
																			<td colspan="28" class="p-0 border-0">
																				<table
																					class="table table-sm table-bordered m-0">
																					<thead>
																						<tr>
																							<th>
																								<button type="button"
																									class="btn btn-sm btn-primary rounded-circle p-0"
																									style="font-size: 1.25rem; width: 20px; height: 20px;"
																									onclick="addExportModelRow(this)">
																									<i
																										class="bi bi-plus"></i>
																								</button>
																							</th>
																							<th>Export Model No</th>
																							<th>Used Qty</th>
																							<th>Duty Claimed</th>
																							<th>CIF Claimed</th>
																							<th>Bom ID</th>
																							<th>Draft Export ID</th>
																							<th></th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr th:if="${ws.exportModels != null and !#lists.isEmpty(ws.exportModels)}"
																							th:each="em : ${ws.exportModels}">
																							<td></td>
																							<td contenteditable="true"
																								data-field="modelNo"
																								th:text="${em.modelNo}">
																							</td>
																							<td contenteditable="true"
																								data-field="emUsedQty"
																								th:text="${#numbers.formatDecimal(em.emUsedQty, 0, 'COMMA', 6, 'POINT')}">
																							</td>
																							<td contenteditable="true"
																								data-field="emDutyClaimed"
																								th:text="${#numbers.formatDecimal(em.dutyClaimed, 0, 'COMMA', 2, 'POINT')}">
																							</td>
																							<td contenteditable="true"
																								data-field="emCIFClaimed"
																								th:text="${#numbers.formatDecimal(em.cifClaimed, 0, 'COMMA', 2, 'POINT')}">
																							</td>
																							<td th:text="${em.bomExportModelId}"
																								data-field="bomExportModelId">
																							</td>
																							<td th:text="${em.draftWsModelId}"
																								data-field="draftWsModelId">
																							</td>

																							<td><button type="button"
																									class="btn btn-sm btn-outline-danger"
																									onclick="removeRow(this)">Remove</button>
																							</td>

																							<!-- ID column: not editable -->
																						</tr>
																						<tr
																							th:if="${ws.exportModels == null or #lists.isEmpty(ws.exportModels)}">
																							<td colspan="5"
																								class="text-center">
																								<em>No export model
																									data</em>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</th:block>
																</tbody>

															</table>
														</div>

														<div class="text-center">

															<button id="updateBtn" type="button"
																class="btn btn-info waves-effect waves-light m-r-5 m-b-5"
																style="width: 150px;">
																Update
															</button>

															<button id="saveBtn" type="button"
																class="btn btn-primary waves-effect waves-light m-b-5"
																style="width: 150px;">
																Save
															</button>
														</div>


														<!-- Pagination controls -->
														<!-- Pagination -->




													</div>

												</div>
											</div>
											<!-- tab content end -->

										</div>
									</div>

								</div>


							</div>
						</div>
						<!--<div id="styleSelector">-->

						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<!-- **********UPDATE DRAFT LOGIC START HERE-->

	<script>
		document.getElementById('selectAll').addEventListener('change', function () {
			const checked = this.checked;
			document.querySelectorAll('.rowCheckbox').forEach(cb => cb.checked = checked);
		});
	</script>

	<script>
		function collectSelectedDrafts() {
			const selectedRows = [];

			function convertToISODate(str) {
				const parts = str?.split('-');
				return (parts?.length === 3) ? `${parts[2]}-${parts[1]}-${parts[0]}` : str;
			}

			document.querySelectorAll('#worksheetTable tbody tr').forEach(row => {
				const checkbox = row.querySelector('.rowCheckbox');
				if (checkbox && checkbox.checked) {
					if (row.classList.contains('export-models-row')) return; // skip export models row

					const draft = {};

					row.querySelectorAll('[data-field]').forEach(cell => {
						const field = cell.getAttribute('data-field');
						let value = cell.innerText.trim();

						// ✅ Clean numeric values
						value = value.replace(/,/g, '');
						if (!isNaN(value) && value !== '') value = parseFloat(value);

						// ✅ Convert date values (dd-MM-yyyy → yyyy-MM-dd)
						if (typeof value === 'string' && /^\d{2}-\d{2}-\d{4}$/.test(value)) {
							value = convertToISODate(value);
						}

						draft[field] = value;
					});

					// ✅ Handle nested export models
					const exportModels = [];
					const nextRow = row.nextElementSibling;
					if (nextRow && nextRow.classList.contains('export-models-row')) {
						nextRow.querySelectorAll('tbody tr').forEach(emRow => {
							const emData = {};
							emRow.querySelectorAll('[data-field]').forEach(emCell => {
								const f = emCell.getAttribute('data-field');
								let v = emCell.innerText.trim();

								v = v.replace(/,/g, '');
								if (!isNaN(v) && v !== '') v = parseFloat(v);

								if (typeof v === 'string' && /^\d{2}-\d{2}-\d{4}$/.test(v)) {
									v = convertToISODate(v);
								}

								emData[f] = v;
							});

							// ✅ Only push non-empty export models
							const hasData = Object.values(emData).some(val => val !== '');
							if (hasData) {
								exportModels.push(emData);
							}
						});

					}

					draft.exportModels = exportModels;
					selectedRows.push(draft);
				}
			});

			return selectedRows;
		}
	</script>



	<script>
		function convertDateToISO(dateStr) {
			const parts = dateStr.split('-');
			if (parts.length === 3) {
				// Convert dd-MM-yyyy → yyyy-MM-dd
				return `${parts[2]}-${parts[1]}-${parts[0]}`;
			}
			return dateStr;
		}

		// ===== UPDATE BUTTON =====
		document.getElementById('updateBtn').addEventListener('click', async () => {
			const btn = document.getElementById('updateBtn');
			btn.disabled = true;          // disable immediately
			btn.style.display = 'none';   // hide instantly

			const selectedDrafts = collectSelectedDrafts();
			if (selectedDrafts.length === 0) {
				alert('Please select at least one draft to update.');
				btn.disabled = false;
				btn.style.display = 'inline-block';
				return;
			}

			// Convert all date strings (dd-MM-yyyy → ISO)
			selectedDrafts.forEach(draft => {
				for (const key in draft) {
					if (typeof draft[key] === 'string' && /^\d{2}-\d{2}-\d{4}$/.test(draft[key])) {
						draft[key] = convertDateToISO(draft[key]);
					}
				}
				if (draft.exportModels) {
					draft.exportModels.forEach(em => {
						for (const k in em) {
							if (typeof em[k] === 'string' && /^\d{2}-\d{2}-\d{4}$/.test(em[k])) {
								em[k] = convertDateToISO(em[k]);
							}
						}
					});
				}
			});

			try {
				const response = await fetch('/draftworksheet/updateBulk', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify(selectedDrafts)
				});

				if (response.ok) {
					alert('Drafts updated successfully!');
					location.reload();
				} else {
					const err = await response.text();
					alert('Failed to update drafts: ' + err);
					btn.disabled = false;
					btn.style.display = 'inline-block';
				}
			} catch (e) {
				console.error('Error updating drafts', e);
				alert('An error occurred while updating.');
				btn.disabled = false;
				btn.style.display = 'inline-block';
			}
		});
	</script>


	<!-- **********UPDATE DRAFT LOGIC ENDS HERE-->




	<script>

		function toggleExportModels(rowIndex) {
			const row = document.getElementById('exportModelsRow' + rowIndex);
			const icon = document.getElementById('toggleIcon' + rowIndex);
			if (!row || !icon) return;
			if (row.style.display === 'none') {
				row.style.display = '';
				icon.classList.remove('bi-caret-right');
				icon.classList.add('bi-caret-down');
			} else {
				row.style.display = 'none';
				icon.classList.remove('bi-caret-down');
				icon.classList.add('bi-caret-right');
			}
		}

	</script>

	<script>
		(() => {
			// Selectors for rows and classes
			const selectors = {
				tableBody: '#worksheetTable tbody',
				importRowPrefix: 'wsRow', // ✅ corrected to your table row id prefix
				exportModelRowClass: 'export-models-row',
			};

			// Parse float safely (remove commas)
			const parseSafe = val => {
				const x = parseFloat((val || '').replace(/,/g, '')) || 0;
				return isNaN(x) ? 0 : x;
			};

			// Get a table cell by data-field name
			const getCell = (row, field) => row.querySelector(`td[data-field="${field}"]`);

			// Set a table cell value (formatted)
			const setCell = (row, field, val, decimals = 2) => {
				const cell = getCell(row, field);
				if (cell) cell.textContent = isNaN(val) ? '' : val.toFixed(decimals);
			};

			// Calculate export model totals
			// Calculate export model totals
			const calcExportModelTotals = (exportRows, dutyPerQty, perQtyCif) => {
				let usedQtyTotal = 0, dutyClaimedTotal = 0, cifClaimedTotal = 0;

				exportRows.forEach(emRow => {
					const emUsedQty = parseSafe(
						emRow.querySelector('td[data-field="emUsedQty"]')?.textContent || '0'
					);
					usedQtyTotal += emUsedQty;

					// ✅ Correct formulas:
					// Duty per qty and per qty CIF come from main row
					const emDutyClaimed = emUsedQty * dutyPerQty;
					const emCIFClaimed = emUsedQty * perQtyCif;

					// ✅ Update cells with correct data-field names
					const dutyCell = emRow.querySelector('td[data-field="emDutyClaimed"]');
					if (dutyCell) dutyCell.textContent = emDutyClaimed.toFixed(2);

					const cifCell = emRow.querySelector('td[data-field="emCIFClaimed"]');
					if (cifCell) cifCell.textContent = emCIFClaimed.toFixed(2);

					dutyClaimedTotal += emDutyClaimed;
					cifClaimedTotal += emCIFClaimed;
				});

				return {usedQtyTotal, dutyClaimedTotal, cifClaimedTotal};
			};


			// Main row calculation
			function calculateRow(row) {
				const assessableVal = parseSafe(getCell(row, 'assessableValue')?.textContent);
				setCell(row, 'cifValue', assessableVal);

				const importQty = parseSafe(getCell(row, 'importQty')?.textContent);
				const bcd = parseSafe(getCell(row, 'bcd')?.textContent);
				const sws = parseSafe(getCell(row, 'sws')?.textContent);
				const addDuty = parseSafe(getCell(row, 'addDuty')?.textContent);

				// Per Qty CIF
				const perQtyCif = importQty ? assessableVal / importQty : 0;
				setCell(row, 'perQtyCif', perQtyCif, 6);

				const totalDuty = bcd + sws + addDuty;
				setCell(row, 'totalDuty', totalDuty);

				const dutyPerQty = importQty ? totalDuty / importQty : 0;
				setCell(row, 'dutyPerQty', dutyPerQty, 6);

				// Opening / Used / Closing
				const openingBalanceQtyDef = parseSafe(getCell(row, 'openingBalanceQtyDef')?.textContent || '0');
				const qtyUsedDef = parseSafe(getCell(row, 'qtyUsedDef')?.textContent || '0');

				let closingBalance = openingBalanceQtyDef - qtyUsedDef;
				if (closingBalance < 0) closingBalance = 0;
				setCell(row, 'closingBalanceDef', closingBalance);

				// Export models
				const exportModelsRow = row.nextElementSibling;
				let usedQtyTotal = 0, dutyClaimedTotal = 0, cifClaimedTotal = 0;

				if (exportModelsRow && exportModelsRow.classList.contains(selectors.exportModelRowClass)) {
					const exportRows = exportModelsRow.querySelectorAll('tbody tr');
					const totals = calcExportModelTotals(exportRows, dutyPerQty, perQtyCif);
					usedQtyTotal = totals.usedQtyTotal;
					dutyClaimedTotal = totals.dutyClaimedTotal;
					cifClaimedTotal = totals.cifClaimedTotal;
				}

				// ✅ Update totals in main row (matching your HTML fields)
				setCell(row, 'usedQtyTotal', usedQtyTotal, 6);
				setCell(row, 'qtyUsedDef', usedQtyTotal, 6);
				setCell(row, 'dutyClaimedTotal', dutyClaimedTotal);
				setCell(row, 'cifClaimedTotal', cifClaimedTotal);

				setCell(row, 'bcdClaimed', importQty ? (bcd / importQty) * usedQtyTotal : 0);
				setCell(row, 'swsClaimed', importQty ? (sws / importQty) * usedQtyTotal : 0);
				setCell(row, 'addClaimed', importQty ? (addDuty / importQty) * usedQtyTotal : 0);
			}

			// Toggle export model rows
			function toggleExportModels(rowIndex) {
				const row = document.getElementById('exportModelsRow' + rowIndex);
				const icon = document.getElementById('toggleIcon' + rowIndex);
				if (!row || !icon) return;

				const isHidden = row.style.display === 'none';
				row.style.display = isHidden ? '' : 'none';
				icon.classList.toggle('bi-caret-right', !isHidden);
				icon.classList.toggle('bi-caret-down', isHidden);

				const importRow = row.previousElementSibling;
				if (importRow) calculateRow(importRow);
			}

			// Remove export model row
			function removeRow(btn) {
				const tr = btn.closest('tr');
				const exportModelsRow = tr.closest('tr.export-models-row');
				const importRow = exportModelsRow ? exportModelsRow.previousElementSibling : null;
				tr.remove();
				if (importRow) calculateRow(importRow);
			}

			// Add new export model row
			function addExportModelRow(button) {
				const table = button.closest('table');
				const tbody = table.querySelector('tbody');
				const noDataRow = tbody.querySelector('tr em');
				if (noDataRow) noDataRow.closest('tr').remove();

				const newRow = document.createElement('tr');
				newRow.innerHTML = `
				<td></td>
				<td contenteditable="true" data-field="modelNo"></td>
				<td contenteditable="true" class="text-end" data-field="emUsedQty">0</td>
				<td contenteditable="false" data-field="emDutyClaimed">0.00</td>
				<td contenteditable="false" data-field="emCifClaimed">0.00</td>
				<td contenteditable="false" data-field="bomExportModelId"></td>
				<td>
					<button type="button" class="btn btn-sm btn-outline-danger" onclick="removeRow(this)">Remove</button>
				</td>
			`;
				tbody.appendChild(newRow);

				const exportModelsRow = table.closest('tr.export-models-row');
				const importRow = exportModelsRow ? exportModelsRow.previousElementSibling : null;
				if (importRow) calculateRow(importRow);
			}

			// Input change recalculation
			document.querySelector(selectors.tableBody).addEventListener('input', e => {
				if (e.target.isContentEditable) {
					const row = e.target.closest(`tr[id^="${selectors.importRowPrefix}"]`);
					if (row) calculateRow(row);
				}
			});

			// Initialize calculations on load
			document.addEventListener('DOMContentLoaded', () => {
				document.querySelectorAll(`tbody > tr[id^="${selectors.importRowPrefix}"]`).forEach(calculateRow);
			});

			// Expose globally for inline calls
			window.removeRow = removeRow;
			window.addExportModelRow = addExportModelRow;
			window.toggleExportModels = toggleExportModels;
			window.calculateRow = calculateRow;
		})();
	</script>


	<script>
		async function collectWorksheetData() {
			const worksheetList = [];
			const rows = document.querySelectorAll('#worksheetTable tbody > tr:not(.export-models-row)');

			function convertToISODate(str) {
				const parts = str?.split('-');
				return (parts?.length === 3) ? `${parts[2]}-${parts[1]}-${parts[0]}` : str;
			}

			rows.forEach(row => {
				const worksheet = {};

				// collect importId first — skip invalid rows early
				const importIdTextRaw = row.querySelector('[data-field=importId]')?.innerText || '';
				const importIdText = importIdTextRaw.trim().replace(/,/g, '');
				worksheet.importId = importIdText && !isNaN(importIdText) && parseInt(importIdText) > 0
					? parseInt(importIdText)
					: null;

				// if saving draft: allow null importId
				// if saving final: you can filter later
				// BUT avoid reading exportModels for null importId rows
				if (worksheet.importId === null) return;

				// then continue with the rest of the mapping
				worksheet.draftWorksheetId = row.querySelector('[data-field=draftWorksheetId]')?.innerText.trim() || null;

				worksheet.beNo = row.querySelector('[data-field=beNo]')?.innerText.trim() || null;
				worksheet.claimYear = row.querySelector('[data-field=claimYear]')?.innerText.trim() || null;
				worksheet.claimRefNo = row.querySelector('[data-field=claimRefNo]')?.innerText.trim() || null;
				worksheet.beDate = convertToISODate(row.querySelector('[data-field=beDate]')?.innerText.trim()) || null;
				worksheet.itemDescription = row.querySelector('[data-field=itemDescription]')?.innerText.trim() || null;
				worksheet.bomPartNo = row.querySelector('[data-field=bomPartNo]')?.innerText.trim() || null;
				worksheet.altBoePartNo = row.querySelector('[data-field=altBoePartNo]')?.innerText.trim() || null;

				worksheet.dbkPartNo = row.querySelector('[data-field=dbkPartNo]')?.innerText.trim() || null;
				worksheet.importQty = parseFloat(row.querySelector('[data-field=importQty]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.uom = row.querySelector('[data-field=uom]')?.innerText.trim() || null;
				worksheet.assessableValue = parseFloat(row.querySelector('[data-field=assessableValue]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.cifValue = parseFloat(row.querySelector('[data-field=cifValue]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.perQtyCif = parseFloat(row.querySelector('[data-field=perQtyCif]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.bcd = parseFloat(row.querySelector('[data-field=bcd]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.sws = parseFloat(row.querySelector('[data-field=sws]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.addDuty = parseFloat(row.querySelector('[data-field=addDuty]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.totalDuty = parseFloat(row.querySelector('[data-field=totalDuty]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.dutyPerQty = parseFloat(row.querySelector('[data-field=dutyPerQty]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.usedQtyTotal = parseFloat(row.querySelector('[data-field=usedQtyTotal]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.dutyClaimedTotal = parseFloat(row.querySelector('[data-field=dutyClaimed]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.cifClaimedTotal = parseFloat(row.querySelector('[data-field=cifClaimed]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.bcdClaimed = parseFloat(row.querySelector('[data-field=bcdClaimed]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.swsClaimed = parseFloat(row.querySelector('[data-field=swsClaimed]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.addClaimed = parseFloat(row.querySelector('[data-field=addClaimed]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.openingBalanceQtyDef = parseFloat(row.querySelector('[data-field=openingBalanceQtyDef]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.qtyUsedDef = parseFloat(row.querySelector('[data-field=qtyUsedDef]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.closingBalanceDef = parseFloat(row.querySelector('[data-field=closingBalanceDef]')?.innerText.replace(/,/g, '')) || 0;
				worksheet.username = row.querySelector('[data-field=username]')?.innerText.trim() || null;

				// collect export models only for valid worksheet
				const exportModels = [];
				const button = row.querySelector('button[data-index]');
				const statIndex = button ? button.getAttribute('data-index') : null;
				if (statIndex) {
					const exportModelsRow = document.getElementById('exportModelsRow' + statIndex);
					if (exportModelsRow) {
						const emRows = exportModelsRow.querySelectorAll('tbody tr');
						emRows.forEach(emRow => {
							const bomIdRaw = emRow.querySelector('[data-field=bomExportModelId]')?.innerText.trim();
							const modelNoRaw = emRow.querySelector('[data-field=modelNo]')?.innerText.trim();
							if (!bomIdRaw || !modelNoRaw) return;
							exportModels.push({
								bomExportModelId: parseInt(bomIdRaw) || null,
								modelNo: modelNoRaw,
								emUsedQty: parseFloat(emRow.querySelector('[data-field=emUsedQty]')?.innerText.replace(/,/g, '')) || 0,
								dutyClaimed: parseFloat(emRow.querySelector('[data-field=emDutyClaimed]')?.innerText.replace(/,/g, '')) || 0,
								cifClaimed: parseFloat(emRow.querySelector('[data-field=emCIFClaimed]')?.innerText.replace(/,/g, '')) || 0
							});
						});
					}
				}
				worksheet.exportModels = exportModels;

				worksheetList.push(worksheet);
			});

			return worksheetList;
		}




		// Your existing save button stays unchanged

		// ===== SAVE BUTTON =====
		document.getElementById('saveBtn').addEventListener('click', async function () {
			const btn = document.getElementById('saveBtn');
			btn.disabled = true;          // disable immediately
			btn.style.display = 'none';   // hide instantly

			try {
				const saveData = await collectWorksheetData();
				const filteredData = saveData.filter(ws => ws.importId !== null);

				// 🛑 1) VALIDATION: Used qty should not be greater than opening balance
				const invalidQtyRecords = filteredData.filter(ws =>
					ws.qtyUsedDef > ws.openingBalanceQtyDef
				);

				// 🛑 2) VALIDATION: Claimed duty / CIF should not exceed total duty / CIF
				const invalidClaimRecords = filteredData.filter(ws =>
					ws.dutyClaimedTotal > ws.totalDuty ||
					ws.cifClaimedTotal > ws.cifValue
				);

				const totalInvalid =
					invalidQtyRecords.length + invalidClaimRecords.length;

				if (invalidQtyRecords.length > 0 || invalidClaimRecords.length > 0) {
					let msg = '';

					// 🔢 Overall count info
					msg += `Total records checked: ${filteredData.length}\n`;
					msg += `Total invalid records: ${totalInvalid}\n\n`;

					if (invalidQtyRecords.length > 0) {
						msg += `⚠ Used quantity > Opening quantity ` +
							`(${invalidQtyRecords.length} record(s)):\n\n`;

						invalidQtyRecords.forEach((ws, index) => {
							msg += `${index + 1}. BE No: ${ws.beNo || '-'} | BOM Part No: ${ws.bomPartNo || '-'} | `
								+ `Opening: ${ws.openingBalanceQtyDef} | Used: ${ws.qtyUsedDef}\n`;
						});
						msg += '\n';
					}

					if (invalidClaimRecords.length > 0) {
						msg += `⚠ Duty / CIF claimed > Total Duty / CIF ` +
							`(${invalidClaimRecords.length} record(s)):\n\n`;

						invalidClaimRecords.forEach((ws, index) => {
							msg += `${index + 1}. BE No: ${ws.beNo || '-'} | BOM Part No: ${ws.bomPartNo || '-'}\n`
								+ `   Total Duty: ${ws.totalDuty} | Duty Claimed(Total): ${ws.dutyClaimedTotal}\n`
								+ `   Total CIF: ${ws.cifValue} | CIF Claimed(Total): ${ws.cifClaimedTotal}\n\n`;
						});
					}

					alert(msg.trim());

					// Re-enable button & don't call API
					btn.disabled = false;
					btn.style.display = 'inline-block';
					return;
				}

				// ✅ Only reaches here if all records are valid
				const response = await fetch('/worksheet/saveBulk', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify(filteredData)
				});

				if (!response.ok) {
					alert('Save failed');
					btn.disabled = false;
					btn.style.display = 'inline-block';
					return;
				}

				alert('Save successful');
				generateExcelFile();
				window.location.href = '/worksheets/claims/list';

			} catch (error) {
				console.error('Save error:', error);
				alert('Error saving data');
				btn.disabled = false;
				btn.style.display = 'inline-block';
			}
		});




		// Excel generation can be extracted to a function and called after save success
		function generateExcelFile() {
			const baseColumns = [
				'Sr No.', 'BE No', 'BE Date', 'Item Description', 'BOM Part No', 'BOE Part No', 'DBK Part No.',
				'Import Qty', 'UOM', 'Assessable Value', 'CIF Value', 'Per Qty CIF', 'BCD',
				'SWS', 'Add Duty', 'Total Duty', 'Duty Per Qty'
			];

			const summaryColumns = [
				'Used Qty(Total)', 'Duty Claimed(Total)', 'CIF Claimed(Total)',
				'BCD Claimed(DGFT)', 'SWS Claimed(DGFT)', 'ADD Claimed(DGFT)',
				'Opening', 'Used', 'Closing'
			];

			const headerKeyMap = {
				'Sr No.': 'srNo',
				'BE No': 'beNo',
				'BE Date': 'beDate',
				'Item Description': 'itemDescription',
				'BOM Part No': 'bomPartNo',
				'BOE Part No': 'altBoePartNo',
				'DBK Part No.': 'dbkPartNo',
				'Import Qty': 'importQty',
				'UOM': 'uom',
				'Assessable Value': 'assessableValue',
				'CIF Value': 'cifValue',
				'Per Qty CIF': 'perQtyCif',
				'BCD': 'bcd',
				'SWS': 'sws',
				'Add Duty': 'addDuty',
				'Total Duty': 'totalDuty',
				'Duty Per Qty': 'dutyPerQty',

				'Used Qty(Total)': 'usedQtyTotal',
				'Duty Claimed(Total)': 'dutyClaimedTotal',
				'CIF Claimed(Total)': 'cifClaimedTotal',
				'BCD Claimed(DGFT)': 'bcdClaimed',
				'SWS Claimed(DGFT)': 'swsClaimed',
				'ADD Claimed(DGFT)': 'addClaimed',
				'Opening': 'openingBalanceQtyDef',
				'Used': 'qtyUsedDef',
				'Closing': 'closingBalanceDef'
			};

			// ✅ Select worksheet rows correctly
			const importRows = document.querySelectorAll('tbody > tr[id^="wsRow"]');

			// Collect all unique export model names
			const exportModelsSet = new Set();
			importRows.forEach(row => {
				const exportModelsRow = row.nextElementSibling;
				if (exportModelsRow && exportModelsRow.classList.contains('export-models-row')) {
					exportModelsRow.querySelectorAll('tbody tr').forEach(emRow => {
						const modelNo = emRow.querySelector('td[data-field="modelNo"]')?.textContent.trim();
						if (modelNo) exportModelsSet.add(modelNo);
					});
				}
			});
			const exportModelNames = Array.from(exportModelsSet);

			// Construct headers for Excel file
			const firstHeaderRow = new Array(baseColumns.length).fill('');
			exportModelNames.forEach(model => {
				firstHeaderRow.push(model, '', '');
			});
			// 🟢 Add empty cells for summary columns (no group label)
			firstHeaderRow.push(...new Array(summaryColumns.length).fill(''));

			const secondHeaderRow = baseColumns.slice();
			exportModelNames.forEach(() => {
				secondHeaderRow.push('Used Quantity', 'Duty Claimed', 'CIF Claimed');
			});
			secondHeaderRow.push(...summaryColumns);

			const rowsData = [];

			importRows.forEach(row => {
				const rowData = [];

				const getCellText = (field) => {
					const cell = row.querySelector(`td[data-field="${field}"]`);
					return cell ? cell.textContent.trim() : '';
				};

				// Add base columns first
				baseColumns.forEach(header => {
					const key = headerKeyMap[header];
					const value = getCellText(key);
					rowData.push(value || '0');
				});

				// Add export model data
				const usageMap = {};
				const exportModelsRow = row.nextElementSibling;
				if (exportModelsRow && exportModelsRow.classList.contains('export-models-row')) {
					exportModelsRow.querySelectorAll('tbody tr').forEach(emRow => {
						const modelNo = emRow.querySelector('td[data-field="modelNo"]')?.textContent.trim();
						const usedQty = emRow.querySelector('td[data-field="emUsedQty"]')?.textContent.trim() || '0';
						const dutyClaimed = emRow.querySelector('td[data-field="dutyClaimed"]')?.textContent.trim() || '0';
						const cifClaimed = emRow.querySelector('td[data-field="cifClaimed"]')?.textContent.trim() || '0';
						usageMap[modelNo] = {usedQty, dutyClaimed, cifClaimed};
					});
				}

				exportModelNames.forEach(model => {
					if (usageMap[model]) {
						rowData.push(usageMap[model].usedQty, usageMap[model].dutyClaimed, usageMap[model].cifClaimed);
					} else {
						rowData.push('0', '0', '0');
					}
				});

				// 🟢 Add summary columns after export models
				summaryColumns.forEach(header => {
					const key = headerKeyMap[header];
					const value = getCellText(key);
					rowData.push(value || '0');
				});

				rowsData.push(rowData);
			});

			const sheetData = [firstHeaderRow, secondHeaderRow, ...rowsData];

			const worksheet = XLSX.utils.aoa_to_sheet(sheetData);
			const workbook = XLSX.utils.book_new();
			XLSX.utils.book_append_sheet(workbook, worksheet, 'Worksheet');

			XLSX.writeFile(workbook, 'WorksheetExport.xlsx');
		}


	</script>






	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>
	<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>


</body>

</html>