<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/dbkcalculation/list/claimwise}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB DBK Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>


							</ul>
							<div class="pcoded-navigatio-lavel">Data Backup</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
								<li>
									<a th:href="@{/backup/download}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">SQL</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

								<li>
									<a th:href="@{/exportdata/excel/download}">
										<span class="pcoded-micon"><i class="icofont icofont-file-excel"></i></span>
										<span class="pcoded-mtext">Export to Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Worksheet Data List</h3>
											<span>List of worksheet createdBy <span
													th:text="${selectedUsername}"></span>
											</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a
														th:href="@{/worksheet/importdata/select}">Worksheet</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">List</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->
										<div class="">

											<button type="button" onclick="window.history.back()"
												class="btn btn-primary m-r-10 m-b-5">
												<i class="icofont icofont-reply"></i> Back
											</button>

											<a class="btn btn-primary m-b-5 m-r-5" th:href="@{/drafts}">
												<i class="icofont icofont-save"></i> Saved Drafts
											</a>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>Worksheet Data List</h5>
														<span>List of all Worksheet</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>

															<!-- REFRESH BUTTON -->
															<a th:href="@{/worksheet/selected(
													            username=${selectedUsername},
													            claimRefNo=${claimRefNo},
													            claimYear=${claimYear}
													        )}">
																<i class="icofont icofont-refresh"></i>
															</a>

														</div>
													</div>

													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">
															<form th:action="@{/worksheet/selected}" method="get"
																class="d-flex align-items-center gap-2 m-3 flex-nowrap"
																style="max-width: 700px;">

																<!-- Hidden mandatory params for selected group -->
																<input type="hidden" name="username"
																	th:value="${selectedUsername}" />
																<input type="hidden" name="claimRefNo"
																	th:value="${claimRefNo}" />
																<input type="hidden" name="claimYear"
																	th:value="${claimYear}" />

																<select name="filterField" id="filterField"
																	class="form-control form-control-sm mr-2"
																	style="width: 150px;" onchange="updateInputType();">

																	<option th:selected="${filterField == null}"
																		value="" disabled>Sort By</option>

																	<option th:selected="${filterField == 'beNo'}"
																		value="beNo">BE No</option>
																	<option th:selected="${filterField == 'claimYear'}"
																		value="claimYear">Claim Year</option>
																	<option th:selected="${filterField == 'claimRefNo'}"
																		value="claimRefNo">Claim Ref</option>
																	<option th:selected="${filterField == 'username'}"
																		value="username">Created By</option>

																	<!-- Newly Added Fields -->
																	<option
																		th:selected="${filterField == 'supplierNameAddress'}"
																		value="supplierNameAddress">Supplier
																		Name/Address</option>

																	<option
																		th:selected="${filterField == 'countryOfOrigin'}"
																		value="countryOfOrigin">Country of Origin
																	</option>

																	<option th:selected="${filterField == 'bomPartNo'}"
																		value="bomPartNo">BOM Part No</option>

																	<option
																		th:selected="${filterField == 'altBoePartNo'}"
																		value="altBoePartNo">BOE Part No</option>

																	<option th:selected="${filterField == 'dbkPartNo'}"
																		value="dbkPartNo">DBK Part No</option>

																	<option th:selected="${filterField == 'itchsCode'}"
																		value="itchsCode">ITCHS Code</option>

																	<option th:selected="${filterField == 'portCode'}"
																		value="portCode">Port Code</option>
																</select>

																<input type="text" name="filterValue" id="filterValue"
																	th:value="${filterValue}" placeholder="Value"
																	class="form-control form-control-sm mr-2"
																	style="width: 140px;" />

																<input type="date" name="fromDate" id="fromDate"
																	th:value="${fromDate}"
																	class="form-control form-control-sm mr-2"
																	style="width: 120px;" />

																<input type="date" name="toDate" id="toDate"
																	th:value="${toDate}"
																	class="form-control form-control-sm mr-2"
																	style="width: 120px;" />

																<button type="submit" class="btn btn-sm btn-primary"
																	title="Filter" style="height: 32px;">
																	<i class="icofont icofont-search"></i>
																</button>
															</form>

														</div>






														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive"
															style="max-height: 520px; overflow:auto;">
															<table class="table table-hover table-sm table-bordered">
																<thead class="table-light sticky-top"
																	style="background-color:#fff;">
																	<tr>
																		<th></th>
																		<th>Sr No.</th>
																		<th>BE No</th>
																		<th>BE Date</th>
																		<th>Created By</th>
																		<th>Claim Ref</th>
																		<th>Claim Year</th>
																		<th>Item Description</th>
																		<th>BOM Part No</th>
																		<th>BOE Part No</th>
																		<th>DBK Part No</th>
																		<th>Import Qty</th>
																		<th>UOM</th>
																		<th>Assessable Value</th>
																		<th>CIF Value</th>
																		<th>Per Qty CIF</th>
																		<th>BCD</th>
																		<th>SWS</th>
																		<th>Add Duty</th>
																		<th>Total Duty</th>
																		<th>Duty Per Qty</th>
																		<th>Used Qty</th>
																		<th>Duty Claimed</th>
																		<th>CIF Claimed</th>
																		<th>BCD Claimed</th>
																		<th>SWS Claimed</th>
																		<th>Add Claimed</th>
																		<th>Opening</th>
																		<th>Used</th>
																		<th>Closing</th>
																		<th>Remarks(If any)</th>
																		<th>Action</th>

																	</tr>
																</thead>

																<tbody>
																	<th:block th:each="ws, stat : ${worksheetList}">
																		<tr th:id="'wsRow' + ${stat.index}">
																			<td class="text-center">
																				<button type="button"
																					class="btn btn-sm btn-link p-0"
																					th:data-index="${stat.index}"
																					onclick="toggleExportModels(this.getAttribute('data-index'))">
																					<i th:id="'toggleIcon' + ${stat.index}"
																						class="bi bi-caret-right"></i>
																				</button>
																			</td>

																			<td th:text="${stat.index + 1}"></td>
																			<td th:text="${ws.beNo}"></td>
																			<td
																				th:text="${#temporals.format(ws.beDate, 'dd-MM-yyyy')}">
																			</td>
																			<td th:text="${ws.username}"></td>
																			<td th:text="${ws.claimRefNo}"></td>
																			<td th:text="${ws.claimYear}"></td>
																			<td th:text="${ws.itemDescription}"></td>
																			<td th:text="${ws.bomPartNo ?: ''}">BOM</td>
																			<td th:text="${ws.altBoePartNo}">BOE</td>

																			<td th:text="${ws.dbkPartNo}"></td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.importQty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td th:text="${ws.uom}"></td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.assessableValue, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.cifValue, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.perQtyCif, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.bcd, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.sws, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.addDuty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.totalDuty, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.dutyPerQty, 0, 'COMMA', 6, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.usedQtyTotal, 0, 'COMMA', 6, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.dutyClaimedTotal, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.cifClaimedTotal, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.bcdClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.swsClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.addClaimed, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.openingBalanceQtyDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.qtyUsedDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td
																				th:text="${#numbers.formatDecimal(ws.closingBalanceDef, 0, 'COMMA', 2, 'POINT')}">
																			</td>
																			<td th:text="${ws.remark}">Remarks(If Any)
																			</td>

																			<td>


																				<a th:href="@{/worksheetdata/edit/{id}(id=${ws.worksheetId}, filterField=${filterField}, filterValue=${filterValue}, page=${currentPage}, size=${pageSize})}"
																					class="btn btn-warning btn-sm btn-round btn-outline-warning">Edit</a>

																			</td>



																		</tr>

																		<!-- Nested Export Models -->
																		<tr th:id="'exportModelsRow' + ${stat.index}"
																			class="export-models-row"
																			style="display:none;">
																			<td colspan="28" class="p-0 border-0">
																				<table
																					class="table table-sm table-bordered m-0">
																					<thead>
																						<tr>
																							<th>Export Model No</th>
																							<th>Used Qty</th>
																							<th>Duty Claimed</th>
																							<th>CIF Claimed</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr th:if="${ws.exportModels != null and !#lists.isEmpty(ws.exportModels)}"
																							th:each="em : ${ws.exportModels}">
																							<td th:text="${em.modelNo}">
																							</td>
																							<td
																								th:text="${#numbers.formatDecimal(em.emUsedQty, 0, 'COMMA', 6, 'POINT')}">
																							</td>
																							<td
																								th:text="${#numbers.formatDecimal(em.dutyClaimed, 0, 'COMMA', 2, 'POINT')}">
																							</td>
																							<td
																								th:text="${#numbers.formatDecimal(em.cifClaimed, 0, 'COMMA', 2, 'POINT')}">
																							</td>
																						</tr>
																						<tr
																							th:if="${ws.exportModels == null or #lists.isEmpty(ws.exportModels)}">
																							<td colspan="4"
																								class="text-center">
																								<em>No export model
																									data</em>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</th:block>
																</tbody>
															</table>
														</div>
														<div class="text-center">

															<button type="button" onclick="generateExcelFile()"
																class="btn btn-info waves-effect waves-light m-r-5 m-b-5"
																style="width: 150px;"> <i
																	class="bi bi-file-earmark-excel"></i> Export Excel

															</button>


														</div>


														<!-- Pagination controls -->
														<!-- Pagination -->




													</div>

												</div>
											</div>
											<!-- tab content end -->

										</div>
									</div>

								</div>


							</div>
						</div>
						<!--<div id="styleSelector">-->

						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		function updateInputType() {
			const filterField = document.getElementById('filterField').value;
			const filterValueInput = document.getElementById('filterValue');
			const fromDateInput = document.getElementById('fromDate');
			const toDateInput = document.getElementById('toDate');

			if (!filterField) {
				// Hide all inputs if no filterField selected
				filterValueInput.style.display = 'none';
				filterValueInput.required = false;

				fromDateInput.style.display = 'none';
				fromDateInput.required = false;

				toDateInput.style.display = 'none';
				toDateInput.required = false;
			} else {
				// Show all inputs when a filterField is selected
				filterValueInput.style.display = 'inline-block';
				filterValueInput.required = true;

				fromDateInput.style.display = 'inline-block';
				fromDateInput.required = false;

				toDateInput.style.display = 'inline-block';
				toDateInput.required = false;
			}
		}

		// Initialize on page load
		document.addEventListener('DOMContentLoaded', () => {
			updateInputType();
		});

	</script>

	<script>

		function toggleExportModels(rowIndex) {
			const row = document.getElementById('exportModelsRow' + rowIndex);
			const icon = document.getElementById('toggleIcon' + rowIndex);
			if (!row || !icon) return;
			if (row.style.display === 'none') {
				row.style.display = '';
				icon.classList.remove('bi-caret-right');
				icon.classList.add('bi-caret-down');
			} else {
				row.style.display = 'none';
				icon.classList.remove('bi-caret-down');
				icon.classList.add('bi-caret-right');
			}
		}

	</script>

	<script>

		function generateExcelFile() {
			const baseColumns = [
				'Sr No.', 'BE No', 'BE Date', 'Claim Ref', 'Claim Year',
				'Item Description', 'BOM Part No', 'BOE Part No', 'DBK Part No',
				'Import Qty', 'UOM', 'Assessable Value', 'CIF Value', 'Per Qty CIF', 'BCD',
				'SWS', 'Add Duty', 'Total Duty', 'Duty Per Qty'
			];

			const summaryColumns = [
				'Used Qty(Total)', 'Duty Claimed(Total)', 'CIF Claimed(Total)',
				'BCD Claimed(DGFT)', 'SWS Claimed(DGFT)', 'ADD Claimed(DGFT)',
				'Opening', 'Used', 'Closing', 'Remark'
			];

			const importRows = document.querySelectorAll('table tbody > tr[id^="wsRow"]');

			const exportModelsSet = new Set();
			importRows.forEach(row => {
				const exportModelsRow = row.nextElementSibling;
				if (exportModelsRow && exportModelsRow.classList.contains('export-models-row')) {
					exportModelsRow.querySelectorAll('tbody tr').forEach(emRow => {
						const modelNo = emRow.querySelector('td:first-child')?.textContent.trim();
						if (modelNo) exportModelsSet.add(modelNo);
					});
				}
			});
			const exportModelNames = Array.from(exportModelsSet);

			const firstHeaderRow = new Array(baseColumns.length).fill('');
			exportModelNames.forEach(model => {
				firstHeaderRow.push(model, '', '');
			});
			firstHeaderRow.push(...new Array(summaryColumns.length).fill(''));

			const secondHeaderRow = baseColumns.slice();
			exportModelNames.forEach(() => {
				secondHeaderRow.push('Used Qty', 'Duty Claimed', 'CIF Claimed');
			});
			secondHeaderRow.push(...summaryColumns);

			const rowsData = [];
			const totals = {
				assessableValue: 0,
				cifValue: 0,
				bcd: 0,
				sws: 0,
				addDuty: 0,
				emUsedQtyTotals: {},
				emDutyClaimedTotals: {},
				emCifClaimedTotals: {},
				usedQtyTotal: 0,
				dutyClaimedTotal: 0,
				cifClaimedTotal: 0,
				bcdClaimed: 0,
				swsClaimed: 0,
				addClaimed: 0
			};

			importRows.forEach(row => {
				const rowData = [];
				const cells = row.querySelectorAll('td');

				const getCellValue = (idx) => {
					if (idx < 4) return cells[idx]?.textContent.trim() || '';
					else return cells[idx + 1]?.textContent.trim() || '';
				}

				// Add base columns with totals tracking
				baseColumns.forEach((col, i) => {
					const value = getCellValue(i + 1);
					rowData.push(value);

					if (col === 'Assessable Value') totals.assessableValue += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'CIF Value') totals.cifValue += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'BCD') totals.bcd += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'SWS') totals.sws += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'Add Duty') totals.addDuty += parseFloat(value.replace(/,/g, '')) || 0;
				});

				// Add export models
				const exportModelsRow = row.nextElementSibling;
				const usageMap = {};
				if (exportModelsRow && exportModelsRow.classList.contains('export-models-row')) {
					exportModelsRow.querySelectorAll('tbody tr').forEach(emRow => {
						const emCells = emRow.querySelectorAll('td');
						const modelNo = emCells[0]?.textContent.trim();
						const usedQty = parseFloat(emCells[1]?.textContent.replace(/,/g, '')) || 0;
						const dutyClaimed = parseFloat(emCells[2]?.textContent.replace(/,/g, '')) || 0;
						const cifClaimed = parseFloat(emCells[3]?.textContent.replace(/,/g, '')) || 0;

						usageMap[modelNo] = {
							usedQty: emCells[1]?.textContent.trim() || '0',
							dutyClaimed: emCells[2]?.textContent.trim() || '0',
							cifClaimed: emCells[3]?.textContent.trim() || '0'
						};

						if (!totals.emUsedQtyTotals[modelNo]) totals.emUsedQtyTotals[modelNo] = 0;
						if (!totals.emDutyClaimedTotals[modelNo]) totals.emDutyClaimedTotals[modelNo] = 0;
						if (!totals.emCifClaimedTotals[modelNo]) totals.emCifClaimedTotals[modelNo] = 0;

						totals.emUsedQtyTotals[modelNo] += usedQty;
						totals.emDutyClaimedTotals[modelNo] += dutyClaimed;
						totals.emCifClaimedTotals[modelNo] += cifClaimed;
					});
				}

				exportModelNames.forEach(model => {
					if (usageMap[model]) {
						rowData.push(usageMap[model].usedQty, usageMap[model].dutyClaimed, usageMap[model].cifClaimed);
					} else {
						rowData.push('0', '0', '0');
					}
				});

				// Add summary columns
				const summaryStartIndex = 21;
				summaryColumns.forEach((col, i) => {
					let value = '';
					if (col === 'Remark') {
						value = cells[30]?.textContent.trim() || '';
					} else {
						value = cells[summaryStartIndex + i]?.textContent.trim() || '0';
					}
					rowData.push(value);

					if (col === 'Used Qty(Total)') totals.usedQtyTotal += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'Duty Claimed(Total)') totals.dutyClaimedTotal += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'CIF Claimed(Total)') totals.cifClaimedTotal += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'BCD Claimed(DGFT)') totals.bcdClaimed += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'SWS Claimed(DGFT)') totals.swsClaimed += parseFloat(value.replace(/,/g, '')) || 0;
					if (col === 'ADD Claimed(DGFT)') totals.addClaimed += parseFloat(value.replace(/,/g, '')) || 0;
				});

				rowsData.push(rowData);
			});

			// Build totals row - matching exact column structure
			const totalsRow = [];
			totalsRow.push('TOTAL');

			// Columns 1-10: empty
			for (let i = 1; i < 11; i++) totalsRow.push('');

			// Columns 11-18: base totals
			totalsRow.push(totals.assessableValue.toFixed(2));  // Assessable Value
			totalsRow.push(totals.cifValue.toFixed(2));         // CIF Value
			totalsRow.push('');                                  // Per Qty CIF
			totalsRow.push(totals.bcd.toFixed(2));              // BCD
			totalsRow.push(totals.sws.toFixed(2));              // SWS
			totalsRow.push(totals.addDuty.toFixed(2));          // Add Duty
			totalsRow.push('');                                  // Total Duty
			totalsRow.push('');                                  // Duty Per Qty

			// Export model totals (3 cols per model)
			exportModelNames.forEach(model => {
				totalsRow.push((totals.emUsedQtyTotals[model] || 0).toFixed(6));
				totalsRow.push((totals.emDutyClaimedTotals[model] || 0).toFixed(2));
				totalsRow.push((totals.emCifClaimedTotals[model] || 0).toFixed(2));
			});

			// Summary totals
			totalsRow.push(totals.usedQtyTotal.toFixed(6));     // Used Qty(Total)
			totalsRow.push(totals.dutyClaimedTotal.toFixed(2)); // Duty Claimed(Total)
			totalsRow.push(totals.cifClaimedTotal.toFixed(2));  // CIF Claimed(Total)
			totalsRow.push(totals.bcdClaimed.toFixed(2));       // BCD Claimed
			totalsRow.push(totals.swsClaimed.toFixed(2));       // SWS Claimed
			totalsRow.push(totals.addClaimed.toFixed(2));       // ADD Claimed
			totalsRow.push('');                                  // Opening
			totalsRow.push('');                                  // Used
			totalsRow.push('');                                  // Closing
			totalsRow.push('');                                  // Remark

			// Verify totals row has same length as data rows
			console.log('Data row length:', rowsData[0]?.length);
			console.log('Totals row length:', totalsRow.length);

			const sheetData = [firstHeaderRow, secondHeaderRow, ...rowsData, totalsRow];

			const worksheet = XLSX.utils.aoa_to_sheet(sheetData);
			const workbook = XLSX.utils.book_new();
			XLSX.utils.book_append_sheet(workbook, worksheet, 'Worksheet');

			XLSX.writeFile(workbook, 'WorksheetExport.xlsx');
		}






	</script>


	<script>

	</script>





	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>
	<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>



</body>

</html>